[2015-08-03 01:33] Lao-Ben opened #1 "Timeout or no reply using currentLocation or currentLocation"
Each time I try to get location using currentLocation I get a timeout error. With currentLocation I get nothing, neither onSuccess or onFail are called.
Is it supposed to work or it's still in development?

[2015-08-03 08:40] malcommac commented on #1
Hi,
Thank you for your report. In fact I've found a possible problem accessing hardware after first user authorization session.Now it should works fine.
(Be sure to add appropriate keys to your app's Info.plist and add a simulated location if you are using it from your iOS simulator).
Build 0.1.1 was just posted to CocoaPods. Tell me if it's okay for you.

[2015-08-04 01:40] Lao-Ben commented on #1
Hi,
I tried again with 0.1.2 build but it's the same, I have now problem with default LocationManager or other wrappers. I don't have time to track the problem now, but when I have some I will try again and let you now if I can find what cause those issues.

[2015-08-04 06:44] malcommac commented on #1
I'll be out for holidays two weeks starting today. If you have some time to make a small test project to I'll be happy to fix it. Thank you again. See you soon.

[2015-08-27 11:30] walsht opened #2 "Unable to build project example"
Unable to build project example...

[2015-08-27 11:37] malcommac commented on #2
Are you using it with Swift 1.2?

[2015-08-27 12:34] walsht commented on #2
I thought I tried both, but probably. Are you going to convert?

[2015-08-27 14:55] malcommac commented on #2
With Swift 1.2 and XCode 6.4 it works fine.
Yeah, I'm planning to move from Swift 1.2 to Swift 2 in two weeks as I've enough spare time.

[2015-08-31 08:19] kiokumicu opened #3 "Can't install through CocoaPods"
When try to install You pods, I receive an error "[!] [!] The Podfile does not contain any dependencies."

[2015-08-31 08:20] #3 closed, assigned to nobody

[2015-08-31 08:58] kiokumicu opened #4 "Failed to get highest location accuracy using continousLocation"
No location update when use .continuousLocation and Accuracy.Room. When use Accuracy.House work fine.

[2015-08-31 09:08] malcommac commented on #4
"Room" accuracy means an accuracy of 5 meters or better, and received within the last 5 seconds.
Are you in indoor? Maybe your GPS signal has not enough strength to provide such accuracy at the moment; can you test it in outdoor?

[2015-08-31 09:09] #2 closed, assigned to nobody

[2015-08-31 09:10] kiokumicu commented on #4
I run GPS simulator in Xcode - Freeway Drive

[2015-08-31 09:41] kiokumicu opened #5 "Callback error, when .cancelRequest"
Why when I call .cancelRequest (pass request ID), fires error callback in .continuousLocation ?

[2015-08-31 09:43] malcommac commented on #4
Checkout 0.1.3 build (available into the master branch or cocoapods with '0.1.3' label).
You error should be fixed.
Thank you

[2015-08-31 09:43] #4 closed, assigned to nobody

[2015-08-31 09:49] malcommac commented on #1
Fixed in c82cf94eed9c399fe8bccc89ced5019650e84bd0

[2015-08-31 09:49] #1 closed, assigned to nobody

[2015-08-31 09:58] malcommac commented on #5
Got it; 0.1.4: cancel an active request no longer report an error of type "operation cancelled"
commit cc4f1f2f384702d66dd7df3a9d44d110cf146eab

[2015-08-31 09:58] #5 closed, assigned to nobody

[2015-09-01 14:53] JoeKueser opened #8 "Support for Carthage"
Because of some legacy static lib issues, we're using Cocoapods only for Objective-C modules and Carthage for Swift modules. It would be really great if we could use SwiftLocation via Cocoapods.

[2015-09-18 03:15] lostpupil opened #10 "How to get iBeacon work?"
[code]
I am using the iBeacon, it won't print anything out.

Is there a further example on iBeacon?

[2015-09-22 20:36] FabianTerhorst opened #11 "swift 2 final release"
swift 2 is now released. You can read here: https://developer.apple.com/swift/blog/
Maybe move branch to master now?

[2015-09-25 15:53] malcommac commented on #11
just pushed on master with several fixes (0.2.0 is the tag published on cocoapods)

[2015-09-25 15:53] #11 closed, assigned to nobody

[2015-09-25 15:54] malcommac commented on #10
It should be fixed into the last release (0.2.0 on cocoapods)

[2015-09-25 15:54] #10 closed

[2015-09-25 18:55] kiokumicu opened #12 "iOS 9 support location update in suspend"
Hi!
You are plan add new param for iOS 9 **allowsBackgroundLocationUpdates** ?
https://developer.apple.com/library/ios/documentation/CoreLocation/Reference/CLLocationManager_Class/index.html#//apple_ref/occ/instp/CLLocationManager/allowsBackgroundLocationUpdates

[2015-10-01 22:43] vernalkick opened #13 "Missing watchOS 2 support"
Hey, could you add support for watchOS 2?

[code]

More info: https://medium.com/@JTEhlert/using-cocoapods-with-watchos-2-723b92eae04f

[2015-10-02 15:28] carbamide commented on #13
A lot of the apis used in this project aren't available on watchOS 2.  It would be more work to add this than adding that to the podfile.  That said, it would be pretty cool if this were a thing.

[2015-10-03 10:08] MartinW opened #14 "monitorRegion onEnter not called"
Great project. It is my favourite Core Location wrapper!

In my project, monitorRegion onEnter is not getting called.

`var region = CLCircularRegion(center: regionCoordinates, radius: CLLocationDistance(50), identifier: "identifier_region")
let requestID = SwiftLocation.shared.monitorRegion(region, onEnter: { (region) -> Void in
    // events called on enter
}) { (region) -> Void in
    // event

[2015-10-04 09:18] malcommac commented on #14
Hi Martin,
Thank you for your report; can you try with this commit c41d76ae8835375f4e0a527025d51eb778df0565 and tell me if it works?

[2015-10-04 09:19] malcommac commented on #13
What kind of features would you use in WatchOS?

[2015-10-05 15:29] Jeehut commented on #14
@malcommac: That new commit blocks the UI in my application so I think it's not the right solution.

[2015-10-06 15:16] Jeehut commented on #14
I'm not receiving a notification either. Going to debug it further to investigate if it's an application issue or with this framework ...

[2015-10-07 07:37] malcommac commented on #14
Let me know

[2015-10-14 21:03] MartinW commented on #14
@malcommac @Dschee I've tried that commit and its not fixed the issue for me. Further debugging has not given me any clues.

[2015-10-14 21:04] Jeehut commented on #14
Yeah, I've also opted for an own solution and it did work immediately, so something's probably wrong here.

[2015-10-15 19:15] oooseun commented on #14
@Dschee Can you share your own solution (assuming you meant 'i also opted for my own solution')

[2015-10-15 21:13] Jeehut commented on #14
@oooseun: I should habe been clearer. I meant: "I tried to debug it, too, but couldn't get any further so I decided to follow Apples guideline with my own class and without using this projects implementation at all. So I followed the official documentation: https://developer.apple.com/library/ios/documentation/UserExperience/Conceptual/LocationAwarenessPG/RegionMonitoring/RegionMonitoring.html#//a

[2015-10-15 21:16] oooseun commented on #14
@Dschee Sounds good, thanks!

[2015-11-27 02:37] driver733 opened #15 "Accuracy.Country no longer works (callback does not trigger at all)"
https://ip-api.com/json - the website that you use - is down, so it is impossible to use Accuracy.Country anymore.

[2015-11-27 02:44] ekimia commented on #8
+1

[2015-11-27 05:26] vladc commented on #15
https is not available for ip-api.com, I'm unsure why [this](https://github.com/malcommac/SwiftLocation/commit/4c23c0f258c03ecfbce22608dcef6e9117569e13#diff-df954f1c757366459bbc714d5b1da00aR541) was merged.

[2015-11-27 05:33] driver733 commented on #15
@vladc, Indeed!

[2015-11-29 10:04] misuqian opened #16 "Call can throw, but it is not marked with 'try' and the error is not handled"
I copy the swift file directly to project , and I got the error,why?

[2015-11-29 10:09] misuqian commented on #16
I got the answer from your example ,THX

[2015-11-29 16:30] andreamazz commented on #8
#17

[2015-12-03 02:30] jasonicarter opened #18 "Runtime error - EXC_BAD_ACCESS with Mapbox-iOS-SDK Info.plist change"
Ran across what seems like a conflict in Info.plist when using Cocoapods - SwiftLocation and Mapbox-iOS-SDK.

[code]

**Recreate (in simulator)**
- Create new project
- Create pod and add SwiftLocation
- Update pod, build+run everything works
- Add Mapbox-iOS-SDK
- Update pod, build+run everything works
- Setup Mapbox
  - add mapbox provided Settings.bundle file and update Info.plist with access t

[2015-12-03 15:57] misuqian commented on #18
I copy SwiftLocation.swift directly to project and install MapBox by pod.
You can try this

[2015-12-03 20:23] jasonicarter commented on #18
Thanks for the suggestion.
I wanted to use pod for all third parties, so looked into it a bit more and figured out instead of updating the plist I can do it in the AppDelegate.swift file. Works.

[code]

thanks

[2015-12-15 07:39] jassadakorn commented on #16
try this

[code]

[2015-12-15 07:50] jassadakorn commented on #16
or try this

[code]

[2016-01-26 16:35] vicorente opened #22 "Significant Location : Only the first update is received"
Hi, I've checked in your code that when you call:

[code]

and then you check the request type:

[code]

This is removing any requests different from `ContinuousLocationUpdate`, including `ContinuousSignificantLocation`. This causes that only the first location update is processed in the callback when you use significant location method. The solution is that simple:

[code]

Thanks for your time.

[2016-01-27 17:12] coryhymel opened #23 "SwiftLocation.shared.currentLocation returns CLLocation"
It seems that `SwiftLocation.shared.currentLocation` returns a `CLLocation` object and not a `CLPlacemark` object as the documentation states.

[2016-02-05 16:11] #13 closed, assigned to nobody

[2016-02-15 04:35] guillemsole commented on #12
+1

[2016-02-15 13:07] razvandub opened #24 "Continuous location monitoring not working as expected."
SwiftLocation.shared.continuousLocation(Accuracy.Room ...) rarely calls the onSuccess closure. App will be suspended after a while. Tested with iOS 8.3.

[2016-02-18 08:01] ProudOfZiggy opened #25 "Request for Authorization Status changes"
I would be great I you add a opportunity for watching for auth status changes using closures.

[2016-02-29 15:48] zirinisp commented on #15
problem is that callbacks never get triggered and my UI is stuck in waiting for an answer. It also does not ever time out.

[2016-03-03 20:38] spamkiller opened #26 "cancelRequest never returns true"
public func cancelRequest(identifier: Int) -> Bool
{
    if let request = request(identifier) as SwiftLocationRequest! {
        request.markAsCancelled(nil)
        return true // <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< insert this line
    }
    return false
}

[2016-03-03 20:41] spamkiller commented on #24
SwiftLocation.shared.continuousLocation(Accuracy.Room ...) never calls the onSuccess closure. Tested with iOS 9.2.1

[2016-03-12 11:05] mrfarukturgut opened #27 "currentLocation always goes timeout"
Hi,
It was working fine in the simulator, but now it always goes timeout and returns error. Either in device or simulator. (I am not sure if that is relevant but there is no sim card in device)

here is the code:

[code]

and the output:

`Optional(Error Domain=NSCocoaErrorDomain Code=0 "Timeout reached" UserInfo={NSLocalizedDescription=Timeout reached})`

[2016-03-14 09:07] misuqian opened #28 "Always Timeout on iPod and iPhone 6"
currentLocation always timeout on iPod and iPhone 6,and app will crash when timeout
here my code:
`  func updateLocation(errorHandler : (ErrorType -> Void)?){

[code]

}`

[2016-03-18 13:03] arjunmayilvaganan commented on #23
+1
Swift Newbie here. Spent minutes trying to figure how to extract the coordinates from the `CLPlacemark` object. Used `.dynamicType` and realised it was `CLLocation`.

[2016-03-30 18:30] ProudOfZiggy opened #31 "iOS 9 Background location"
I don't seen any usage of allowsBackgroundLocationUpdates of CLLocationManager in you library.

Since iOS 9 you need to set allowsBackgroundLocationUpdates = true to allow location updates while app in background mode.

[2016-03-30 21:23] santiguillen commented on #31
+1

[2016-04-01 07:11] efremidze commented on #31
:+1:

[2016-04-03 22:34] efremidze commented on #22
:+1:

[2016-04-11 04:20] happiehappie commented on #15
Just encountered this, thanks for letting me know that I am not alone. +1

[2016-04-14 09:37] benjamincho commented on #28
It does not know exactly the project schedule.

First, "https://ip-api.com/json" is a problem.

The need to modify "https" to "http".

Perhaps the problem is resolved.

But the problem can not be solved.

My problem was the error range of the location.

Check isAcceptable(_:) function

[2016-04-20 02:12] marvisais commented on #27
Hi, got any solution, i have the same issues :(

[2016-04-20 04:33] malcommac commented on #27
I'm working on a new revamped version. Be patient,it's almost complete :)

[2016-04-20 19:46] craigpearce5 opened #36 "Accessing Placemark Attributes"
Should this work?  I'm trying to get the state/province from the placemark.

[code]

Edit:  So it turns out some of the attributes are accessible.
`print(place.country)` works, but for some reason `print(place.administrativeArea)` doesn't work, even though it's showing up when I simply try `print(place)`.  I'm in Canada, but I thought CLPlacemark was supposed to work for Canada.

[2016-04-20 20:11] craigpearce5 commented on #36
So turns out it will return a province if you use `Service.GoogleMaps` but not `Service.Apple`.

I'll close this issue as it's likely on Apple's side, not this library.

[2016-04-20 20:11] #36 closed, assigned to nobody

[2016-04-26 14:34] antons81 opened #37 "Get all places in my region"
Hi, thank you for beautiful lib. If there an option if I need to get array of nearby addresses/places?

[2016-04-26 17:23] malcommac commented on #37
Thank you.
Not yet but with MKLocalSearch it's pretty easy.
Would you something like that inside the lib?

[code]

[2016-04-30 17:18] malcommac commented on #31
Added since 0.9.0. Thank you.

[2016-04-30 17:18] #31 closed, assigned to nobody

[2016-04-30 17:18] malcommac commented on #28
Fixed in 0.9.0

[2016-04-30 17:18] #28 closed, assigned to nobody

[2016-04-30 17:19] malcommac commented on #27
Fixed in 0.9.0, thank you

[2016-04-30 17:19] #27 closed, assigned to nobody

[2016-04-30 17:19] malcommac commented on #25
Added in 0.9.0. Thank you.

[2016-04-30 17:19] #25 closed, assigned to nobody

[2016-04-30 17:19] malcommac commented on #24
Fixed in 0.9.0. Thank you

[2016-04-30 17:19] #24 closed, assigned to nobody

[2016-04-30 17:19] malcommac commented on #26
Fixed in 0.9.0. Thank you

[2016-04-30 17:19] #26 closed, assigned to nobody

[2016-04-30 17:19] malcommac commented on #8
Added in 0.9.0.

[2016-04-30 17:19] #8 closed, assigned to nobody

[2016-04-30 17:20] malcommac commented on #14
Can you try with the latest 0.9.0?

[2016-04-30 17:20] malcommac commented on #23
Fixed

[2016-04-30 17:20] #23 closed, assigned to nobody

[2016-04-30 17:20] malcommac commented on #22
Fixed

[2016-04-30 17:20] #22 closed, assigned to nobody

[2016-04-30 17:21] malcommac commented on #16
no longer valid. update to 0.9.0

[2016-04-30 17:21] #16 closed, assigned to nobody

[2016-04-30 17:21] malcommac commented on #15
no longer valid. Test 0.9.0

[2016-04-30 17:21] #15 closed, assigned to nobody

[2016-04-30 17:21] #37 closed, assigned to nobody

[2016-05-10 04:52] happiehappie opened #38 "timeout"
Sorry if this is a bit amateur but does anyone know how to set the timeout in version 0.9? The documentation stated that LocationRequest also specify a timeoutTimer property you can set to abort the request itself if no valid data is received in a certain amount of time. By default it's disabled.
But XCode tells me that LocationRequest has no member timeoutTimer

[2016-05-25 15:40] pballart opened #40 "Infinite loop if location disabled"
I'm using the observeLocations method but if the user switched the location of my app to "never" the method starts in infinite loop.

Here you have the stack trace:
![screen shot 2016-05-25 at 17 39 01](https://cloud.githubusercontent.com/assets/1868467/15546289/a6d60dc6-229f-11e6-8888-90215d3b6408.png)

If the location services are granted for my app (Always) it works perfectly but if they are tu

[2016-05-26 12:29] malcommac commented on #40
Hi @pballart , thank you for your report.
I've actually tried to make a test app with always auth, then I've launched the app and turned off location. I get a single error with not infinite loop.
Can you provide to me an example project or step-by-step info?
Thank you

[2016-05-26 12:29] #12 closed, assigned to nobody

[2016-05-26 12:29] #14 closed, assigned to nobody

[2016-05-26 12:29] #18 closed, assigned to nobody

[2016-05-27 10:45] pballart commented on #40
Hi @malcommac I finally found the problem. It was my fault. Sorry about that.

[2016-05-27 10:52] malcommac commented on #40
No problem 👍

[2016-05-27 10:52] #40 closed, assigned to nobody

[2016-05-27 10:53] malcommac commented on #38
Property is `timeout` not `timeoutTimer`. Sorry about that, I'll fix docs.

[2016-05-27 10:53] #38 closed, assigned to nobody

[2016-05-30 11:32] Alexsmile2010 opened #41 "Update to 0.9.0"
When i update cocoapods to version 0.9.0 SwiftLocation.shared stopped working.

[2016-05-30 12:09] happiehappie commented on #41
Check the documentation or even the examples. It got changed to LocationManager.

[2016-05-30 12:16] Alexsmile2010 commented on #41
I saw documentation and it`s alright. Can you update documentation in cocoapods web page?

[2016-05-31 16:20] ludoded commented on #40
@pballart hi man, I'm experiencing same issue. Can you share what was the problem and how did you solve it, please?

[2016-06-01 06:02] pballart commented on #40
Hi @ludoded! I just checked is the location services were enabled before calling the observeLocations method.

[2016-06-02 11:45] brightsider opened #42 "Last Location"
Maybe should to make public last location in LocationManager?

[2016-06-02 14:43] otymartin opened #43 "Question: How to get currency location of another device"
@malcommac

Question, How could I use `SwiftLocation` for this scenario (I will user Uber as an example)

`Driver` is delegated to capture a charge (Charge Rider's credit card) at the end of a trip.
The action can only happen if `Rider` is within `Room` distance (Or an arbitrary distance i set).
Else `ERROR: Rider is not within distance`

How can use swift location to so `Driver` can get `Rider's`

[2016-06-04 23:25] Kalzem commented on #43
This has nothing to do with SwiftLocation. You need a server for that. Check Firebase for a mobileBaaS (or any other mBaaS).

[2016-06-06 06:32] manish-1988 opened #44 "There is no option to provide our own api Key for google reverse geo location."
I want to provide my own api key to your library and there is no option for that .

[2016-06-14 19:46] otymartin opened #45 "Swift 2.3 Syntax issues"
[code]

[code]

[2016-06-16 23:49] valzevul commented on #45
As a fast workaround, I solved this by changing the line `if peripheral.state == CBPeripheralManagerState.PoweredOn {` to `if peripheral.state == .PoweredOn {`.

[2016-07-09 09:11] Goktug opened #47 "Doesn't update heading continuously"
I faced a problem to try observe my device's heading.

When I used belove method to observe heading. I couldn't get the heading continuously. `onSuccess` closure triggered rarely.
`LocationManager.shared.observeHeading(onSuccess: onSuccess, onError: onError)`

I looked up the codes I have seen this `if condition`.

`if self.validateHeading(heading!) == true {
            self.lastHeading = heading

[2016-07-10 22:37] luskin opened #48 "Accuracy House + Room + Navigation don't work"
if you choose location accuracy house or room you get no responses...

[2016-07-17 19:12] ghost commented on #48
This is happening for me too, except house is working for me. House is the most detailed I can get.

[2016-07-22 23:44] dkrusenstrahle commented on #48
Same error for me. Hard to use it without these accuracies.

[2016-07-30 17:18] jyounus commented on #40
I've got the same issue. Since SwiftLocation already seems to handle basic permissions (by requesting permissions if you don't have any already), I think it would make sense if the library would also handle if the user turns off location permissions after giving access.

[2016-08-10 02:03] happiehappie commented on #38
Is there a way to handle the timeout? Like is there a callback when a timeout occured? So I can handle appropriately.

[2016-08-10 09:29] dkrusenstrahle commented on #48
Any solution to this? Or perhaps a suggestion for other pod?

[2016-08-10 10:13] ServicePal commented on #44
+1 for the ability to add Google API Key. Without it, Google will impose stricter quota.

[2016-08-11 19:44] luskin commented on #48
No solution, I had to end up not using this package.

[2016-08-15 16:11] malcommac commented on #44
You are right, I've added a `googleAPIKey` to `LocationManager` class. I'll post a new update in few days.
Thanks you for your suggestion.

[2016-08-15 16:11] #44 closed, assigned to nobody

[2016-08-15 16:14] malcommac commented on #47
Just fixed; i'll release a new update in few days.
Thank you for your report.

[2016-08-15 16:14] #47 closed, assigned to nobody

[2016-08-15 16:15] malcommac commented on #42
That's right. I've made it public and it will be included into the next release; I'll post it in few days.
Thank you

[2016-08-15 16:15] #42 closed, assigned to nobody

[2016-08-15 16:15] #43 closed, assigned to nobody

[2016-08-15 16:25] malcommac commented on #45
Fixed. Thanks.

[2016-08-15 16:25] #45 closed, assigned to nobody

[2016-08-15 18:01] malcommac commented on #41
Just pushed 1.0.0

[2016-08-15 18:01] #41 closed, assigned to nobody

[2016-08-15 18:02] malcommac commented on #48
Take a look to 1.0.0 and tell me if it works

[2016-08-15 18:17] malcommac commented on #45
Check out Swift 2.3 [branch here](https://github.com/malcommac/SwiftLocation/tree/feature/swift2.3)

[2016-08-18 10:20] tcurdt opened #50 "does not handle authorization correctly"
Run this snippet, then decline on the location authorization:

[code]

you will get back an error saying `Authorization did change`.

Run it again and neither closure is called. So no "onSuccess" and no error.

That is quite broken.

[2016-08-20 11:07] MetalheadSanya commented on #48
Use 1.0.0, get this issue. With `.Block` all work correct.

[2016-08-21 22:59] canaksoy opened #51 "Using the name 'Location' ?"
Why did you change the name with a generic term 'Location' ?
It cause lots of conflict with other frameworks, classes etc...
You can use a unique name.

[2016-08-22 09:23] Daij-Djan opened #52 "monitorForBeaconFamily / monitorForBeacon -> Crashes with nil exception :: The initializers for the BeaconRequest object seem broken to me?!"
Hi
monitorForBeaconFamily / monitorForBeacon -> Crashes with nil exception

The initializers for the BeaconRequest object seem broken to me?!
BECAUSE :: they use beaconRegion before assigning it...

see:

[code]

self.UUID uses the region before it is even assigned:

[code]

IMHO this is broken and maybe a typo. self.UUID should be uuid !?

[2016-08-22 09:48] nmDejamobile commented on #51
@canaksoy You can simply use the SwiftLocation bundle name as prefix for disambiguation : **SwiftLocation.Location**

[2016-08-22 09:56] nmDejamobile opened #53 "I always have timeout error callback called after the location search success"
I run Location like this :

[code]

and both events are triggered :

[code]

So transaction is canceled and then no further location change triggers the action.

[2016-08-22 10:09] nmDejamobile commented on #53
Note that setTimeoutTimer is always set (excepted when Location location is not valid).
So even for .OneShot, timeout is started after the request is canceled.
I think that something could be done here : https://github.com/malcommac/SwiftLocation/blob/master/src/LocationRequest.swift#L195

[2016-08-22 15:08] nmDejamobile commented on #53
FIxed by PR #54

[2016-08-22 15:08] #53 closed, assigned to nobody

[2016-08-22 15:11] malcommac commented on #51
Yeah that's right, Swift implements module prefix in case you need to make disambiguation

[2016-08-22 15:11] #51 closed, assigned to nobody

[2016-08-22 15:12] malcommac opened #55 "Timeout always called even if location was retrieved correctly"
Fixed via PR. https://github.com/malcommac/SwiftLocation/pull/54

[2016-08-22 15:12] #55 closed, assigned to nobody

[2016-08-22 16:02] malcommac commented on #50
I've tried with your code snippet.
In fact the error is correct; error is related to auth level set by user. In this case you will see a .Denied auth error.
Something like:

[code]

However in order to be more clear I've also implemented CustomStringConvertible in CLAuthorizationStatus (it will be part of the 1.0.1 update)-
See this commit https://github.com/malcommac/SwiftLocation/commit/aea553f5

[2016-08-22 16:02] #50 closed, assigned to nobody

[2016-08-22 16:54] malcommac commented on #48
I've made some further investigations and I've found a logic error (fixed in https://github.com/malcommac/SwiftLocation/commit/805899038ceb084bbe104acef1a2b4fbca10c622 and available in 1.0.1 I'll publish in less than an hour).

In fact both `.Room` and `.Navigation` uses `kCLLocationAccuracyBest` and `kCLLocationAccuracyBestForNavigation` which does not mean a valid fixed value (a `CLLocationAccur

[2016-08-22 16:54] #48 closed, assigned to nobody

[2016-08-22 17:12] Daij-Djan opened #56 "monitoring for ble beacons will never work as the callbacks filter based monitoredGeoRegions"
Hi,
I discovered monitoring for ble beacons will never work as the callbacks filter based monitoredGeoRegions I fixed it by doubling the code for now ;) .. there should be a common protocol

[2016-08-22 17:18] Daij-Djan commented on #56
is this feature even planned? region monitoring for BLE?

[2016-08-22 17:24] Daij-Djan commented on #56
don't see how ranging beacons works either .. I did monitoring by adding onRegionX callbacks to BeaconRequest

[2016-08-22 17:27] Daij-Djan commented on #56
and monitoring can only work for a family as IOS only uses the uuid for monitoring :) I removed the for beacon for now but it should be readied with a name & functionality to range it

[2016-08-22 17:28] Daij-Djan commented on #56
(and just to say it: I don't wanna sound demanding or anything :D just saying stuff as I notice it)

[2016-08-22 17:37] Daij-Djan commented on #56
[code.zip](https://github.com/malcommac/SwiftLocation/files/430770/code.zip)

[2016-08-22 17:40] Daij-Djan commented on #56
[Archive.zip](https://github.com/malcommac/SwiftLocation/files/430775/Archive.zip)

[2016-08-22 17:40] Daij-Djan commented on #56
Ill do a PR later IF you event want it :)

[2016-08-22 17:47] tcurdt commented on #50
@malcommac you missed the actual bug :) It's not about the unclear message.

After calling it a second time neither closure is getting called. No `onSuccess` and no `onError`.

[2016-08-22 17:54] malcommac commented on #50
Another time mean "another cold-startup of the app"?

[2016-08-22 18:34] tcurdt commented on #50
No, it means calling it twice in the same app "session".

[2016-08-22 18:36] tcurdt commented on #50
Literally this

[code]

should reproduce the problem. You will only get "1" not "2".

[2016-08-22 19:31] malcommac commented on #50
Have you tried with 1.0.1?
I can't reproduce it both at first auth request or subsequent startups

![image](http://i.imgur.com/rhRmiwJ.png)

[2016-08-22 20:28] tcurdt commented on #50
OK. That's super odd. I was trying with 1.0.0. Not sure what changes in the setup we have/had. iOS Version? Simulator vs device? No idea. Could you maybe zip up your test project and attach it to the issue? Maybe I could give it a try.

I found that `requestWhenInUseAuthorization` does not always cause a call to `didChangeAuthorizationStatus` (or didFail) - hence the lack of a callback.

I ended u

[2016-08-22 22:00] Daij-Djan opened #57 "beaconRequest state never set"
hi,
the beaconRequest state is never set. only in stopMonitoring and then it is pointless.

[2016-08-22 22:02] Daij-Djan opened #58 "beaconManager stopMonitoring isn't really implemented. it doesn't stop the cllocationmanager for example"
hi,
beaconManager stopMonitoring isn't really implemented. it doesn't stop the cllocationmanager for example

[2016-08-23 15:11] AsimNet opened #59 "get user location as first thing"
Hello

i'm trying to get user's location in viewDidLoad using this closure :

[code]

but I found out that the `userLocation` is (0.00,0.00)

how to solve this problem without implementing CLLocation methods ?

thanks.

[2016-08-23 15:41] malcommac commented on #59
Question is not related to SwiftLocation, it's a general programming question.
`getLocation()` as the other methods works asynchronously.
Moreover seems your `userLocation`variable is allocated then discarded because no one outside the scope of the function where this snipped is executed keep it alive.
If you want to keep it alive and update when the location is found you need to declare it somewh

[2016-08-23 15:41] #59 closed, assigned to nobody

[2016-08-23 20:33] malcommac opened #60 "Beacons Monitoring Service Errors"
There are several errors related to beacon monitoring services.
I've taken some time to rewrite the entire class and align it with the Location services infrastructure.
This is a work in progress which will take some days (new version is currently on develop branch).

This post group the following errors:
- #58 beaconManager stopMonitoring isn't really implemented. it doesn't stop the cllocationma

[2016-08-23 20:33] malcommac commented on #58
Please refer to #60 . Thanks for your report.

[2016-08-23 20:33] #58 closed, assigned to nobody

[2016-08-23 20:33] malcommac commented on #57
Please refer to #60 . Thanks for your report.

[2016-08-23 20:33] #57 closed, assigned to nobody

[2016-08-23 20:33] malcommac commented on #56
Please refer to #60 . Thanks for your report.

[2016-08-23 20:33] #56 closed, assigned to nobody

[2016-08-23 20:33] malcommac commented on #52
Please refer to #60 . Thanks for your report.

[2016-08-23 20:33] #52 closed, assigned to nobody

[2016-08-25 19:31] malcommac commented on #60
Done! (in 1.0.2)

[2016-08-25 19:31] #60 closed, assigned to malcommac

[2016-08-26 04:37] itamaker opened #61 "Location services does not start correctly"
First into the application without authorization, or executing a method
info.plist config：NSLocationWhenInUseUsageDescription

[code]

[2016-08-26 07:13] malcommac commented on #61
Hi, @itamaker, what's the problem?

[2016-08-26 10:45] malcommac commented on #61
Location services does not start correctly and no events is reported.
Fixed in 1.0.3 currently pushed both on CocoaPods and Carthage.

[2016-08-26 10:45] #61 closed, assigned to nobody

[2016-08-26 12:50] malcommac opened #62 "Request can receive events about location service auth status change"
Each request should be able to receive notifications about CLLocationManager's authorization change events.
So each `Request` will implements a new handler called `.onAuthDidChange()` you can implement to receive the new status.
Example:

[code]

[2016-08-27 11:08] ShadeApps opened #63 "Not working on iOS 10 beta"
Hello and thank you for your great work!

I'm using the provided latest version of the sources and I'm encountering an error on a device running iOS 10 beta 6 in Xcode 7 using Swift 2.2.

Here's [my test project](https://mega.nz/#!u9BGGR4Z!w3cvAlSUxKnXQjckcfIBFtgfCvdQV4yF9DToMFlGny0), maybe you could tell me what's wrong.

Works perfectly fine on iOS 9.3.5

[2016-08-27 12:22] malcommac commented on #63
Hi @ShadeApps ,
Thank you! I've the latest iOS 10 beta 8, I can make a test with it...but I think I can't run a project using XCode 7.3.1 under iOS 10 beta; it simply say "Could not find Developer Disk Image".
Have you a solution?
However I need to convert 1.0.3 release both for Swift 2.3 and 3.0; I'll do it in these days.

[2016-08-27 12:23] ShadeApps commented on #63
@malcommac sure, check it out - http://stackoverflow.com/a/37940175/1313939

[2016-08-27 12:39] malcommac commented on #63
Cool!
Just tried and here it works fine.
He hasked to me auth and then I get location:

`<+41.850768,+12.404162> +/- 65.00m (speed -1.00 mps / course -1.00) @ 27/08/16, 14:37:01 Ora legale dell’Europa centrale`

(Here I'm with iOS 10 beta 8/Xcode 7.3.1)

[2016-08-27 12:47] ShadeApps commented on #63
Awesome! I'll update the beta today and confirm if it works, thank you for the feedback.

[2016-08-30 05:54] mohpor opened #65 "Swift 3 build errors"
I am trying out this framework for my future project (it looks great), but unfortunately the test project I have started (Using Cocoapods (1.1.0.beta 1) with:

[code]

 doesn't build. There is two different type of errors and 15 errors overall:
1.  Some declarations are missing, among them are: `RegionHandlerStateDidChange`, `RegionHandlerStateDidChange`, `RegionHandlerError`, ...
2.  `Beacon` has

[2016-08-30 07:56] malcommac commented on #65
I'm sorry, there was a problem with merge. I'll fix it later today.

[2016-08-30 07:58] mohpor commented on #65
No problem at all 👍
Thanks for the effort, this is a decent library.

[2016-08-30 08:21] mohpor opened #66 ".IPScan accuracy needs NSAppTransportSecurity"
The URL call for `.IPScan` points to an `http` address which is prohibited by default. We should enable such calls in the app to be able to call the API and get the results.

I'll make a PR to point this out in the README file.

[2016-08-30 08:58] mohpor commented on #66
Upon further reading, I'm now concerned about anybody using this library in a commercial application. [ip-api.com](http://ip-api.com) clearly states that there is a [usage limit](http://ip-api.com/docs/#usage_limits) (150 request per IP per minute) and commercial applications need to go [pro](https://signup.ip-api.com), in which case they can use SSL (which is slower and I don't recommend for loca

[2016-08-30 09:14] ServicePal commented on #66
Please explain, what do you mean by "prohibited by default" ?

I don't share your commercial concern. I can imagine many apps which does not make 150 request per minute from the same IP address. Their PRO feature seems reasonable priced for people who do.

[2016-08-30 09:20] mohpor commented on #66
On iOS 9+, you need special setting in `info.plist` to be able to call any URL with `http` protocol. ([Read Here](https://developer.apple.com/library/ios/documentation/General/Reference/InfoPlistKeyReference/Articles/CocoaKeys.html#//apple_ref/doc/uid/TP40009251-SW33))

About the commercial concern, I'm not concerned for myself, but for anybody who'd use this library. You see, this library uses an

[2016-08-30 09:34] kwstasna opened #67 "Newbie question"
Hello.
Nice library !
Does this work without the user to "Allow" taking his location?

[2016-08-30 09:39] mohpor commented on #67
@kwstasna
This library can get you user's location without user's permission with some draw backs:
- It needs a network connection (Not so much of a problem)
- The result is not at all reliable (Especially in case of cellular network which is the main audience here).
- If user is using VPN or a proxy, the result is completely invalid.

Generally speaking, you should use this method for acquiring u

[2016-08-30 09:42] kwstasna commented on #67
I'm actually using the default ios way to get the latitude and longitude of the user to send some requests.
That's why i'm asking. Is that possible to make it with high accuracy ?

[2016-08-30 09:45] mohpor commented on #67
You see, it uses an API which looks up in a registered IP associated with a location data base. In most cases it might be your ISP's location and in case of your cellular network, god knows where. So that's the accuracy. It's always a good idea to use LocationService for the more accurate results, you can fallback to IPScan in case you want to fill out some part of a signup form at the beginning a

[2016-08-30 09:48] kwstasna commented on #67
Oh ok I understand now!
Thanks a lot!

[2016-08-30 09:48] #67 closed, assigned to nobody

[2016-08-30 18:34] ServicePal commented on #66
Gotcha. iOS 9 SDK requirement. Agree on the commercial comment as well. Thanks for your contributions.

[2016-08-31 18:06] malcommac commented on #66
Thank you for your PR. I've ported them to Swift 2.2 branch

[2016-08-31 18:06] #66 closed, assigned to nobody

[2016-08-31 18:08] malcommac commented on #63
Can I close it?

[2016-08-31 18:42] malcommac commented on #62
Implemented via `.onAuthorizationDidChange()` event.

[2016-08-31 18:42] #62 closed, assigned to malcommac

[2016-08-31 18:58] #65 closed, assigned to nobody

[2016-08-31 21:48] ShadeApps commented on #63
Sure, I can confirm it works.
Thanks.

От 31 августа 2016 г. в 21:08:05, Daniele Margutti (notifications@github.com) написал:

Can I close it?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-09-01 06:56] malcommac commented on #63
Thanks

[2016-09-01 06:56] #63 closed, assigned to nobody

[2016-09-03 08:43] mohpor commented on #65
@malcommac It seems like Swift 3 branch is broken. I still cannot use the branch in pod and I can see so many differences to the base implementation of the Swift3 Branch.

We have 2 options here:
1. We could rebase the `feature/swift3` branch based on `master`
2. Get rid of `feature/swift3` branch and migrate the current `master` branch to Swift 3.0.
Personally I prefer the second approach because

[2016-09-04 16:19] mgfeldman commented on #65
@malcommac I'm also still getting the same errors on the swift3 branch.

[2016-09-06 04:22] robbiet480 commented on #65
I thought I could get away with an easy rebase. I prayed to Linus to make it so. But here I am, 45 minutes in, with no end in sight.

I would strongly suggest option 2 that @mohpor suggested.

[2016-09-06 04:26] mohpor commented on #65
@robbiet480 😆 😆 You had me at `prayed to Linus` he would love to hear that.

ehem, The conversion should be straight forward. 😎

[2016-09-06 21:35] robbiet480 commented on #65
Built a new Swift 3 branch off of the latest master, available [here](https://github.com/robbiet480/SwiftLocation/tree/feature/swift3-latest-master).

[2016-09-07 08:24] malcommac commented on #65
Merged in [swift-3 ](https://github.com/malcommac/SwiftLocation/tree/swift-3.0)branch.
I'll put in master with a new updated once Swift 3 GM will be released.
Thanks.

[2016-09-08 15:43] andreabusi opened #72 ""Invalid redeclaration of Beacon" when upgrading to Swift2.3 branch"
Hi,
I've tried to update to feature/swift2.3 branch (with Xcode 8), but I obtained these errors:

![screen shot 2016-09-08 at 17 42 17](https://cloud.githubusercontent.com/assets/847860/18356072/a21febd6-75eb-11e6-99c8-c3e3e90e8ec1.png)

Am I missing something?
Here is the pod I use:

`pod 'SwiftLocation', :git => 'https://github.com/malcommac/SwiftLocation.git', :branch => 'feature/swift2.3'`

Th

[2016-09-08 17:46] malcommac commented on #72
Just fixed and aligned to 1.0.5 (latest version for Swift 2.2 and 2.3).
Make a `pod update` and try again.
Thanks for the report

[2016-09-08 17:46] #72 closed, assigned to nobody

[2016-09-08 17:50] malcommac opened #73 "Pushing 1.0.6 (Swift 3) to CocoaPods"
Waiting for Xcode 8 support.
https://github.com/CocoaPods/CocoaPods/issues/5825

You can still download using:
`pod 'SwiftLocation', :git => 'https://github.com/malcommac/SwiftLocation.git', :branch => 'master'`

[2016-09-09 12:38] kiokumicu opened #74 "No location update after timeout error ?"
Hi!
If I pass timeout param to getLocation function, after get error location update is stopping ?

[2016-09-09 13:23] glancashire opened #75 "Small fix for Swift2.3"
First thanks for the great work.

There is a small issue in Swift 2.3.

In BeaconsManager.swift in the function
@objc public func peripheralManagerDidUpdateState(peripheral: CBPeripheralManager) {

please change the line to
if peripheral.state == .PoweredOn {

Kind Regards
Graham

[2016-09-09 15:55] malcommac commented on #75
See in switch-2.3 branch for Swift 2.3 (https://github.com/malcommac/SwiftLocation/tree/feature/swift2.3)
It's already changed:
https://github.com/malcommac/SwiftLocation/blob/feature/swift2.3/src/BeaconManager.swift#L287

[2016-09-09 18:47] swabzz opened #76 "allowsBackgroundLocationUpdates"
Can you please help me to get location when application in background mode.
I am having Google Map integrated in my app and confused in getting location in background.

Thanks in advance

[2016-09-11 17:36] #75 closed, assigned to nobody

[2016-09-11 18:34] glancashire commented on #75
Thanks
Graham

[2016-09-11 22:07] manish-1988 commented on #76
Background is working totally fine with me
But I am stuck in updating location while app is terminated
@malcommac  If you can clear that whether I can implement this feature using you library ?
Thank you so much for this library helped me a lot already.

[2016-09-11 23:58] robbiet480 opened #78 "Cocoapods podspec for Swift 3 (SwiftLocation 1.1.0)"
Hi,

In the latest Podspec from the master branch there are two blocking issues:
1. `post_install` is not valid. Instead, you can set `s.pod_target_xcconfig = { 'SWIFT_VERSION' => '3.0' }`. I believe that this may be entirely unnecessary however. As it currently stands, Cocoapods outputs this error when trying to install from the master branch:

[code]
1. The release tag referenced (`s.version`) i

[2016-09-12 00:00] robbiet480 commented on #78
Using:

[code]

allows the update/install to continue.

[2016-09-12 05:58] swabzz commented on #76
@manish-1988
How you manage to get location in background??
can you post your code here please?

[2016-09-12 06:33] manish-1988 commented on #76
You should ask this question in **stackOverflow** only not here , but since I also did asked a question here is the standard solution to your query

**Step - 0** Open pList as source code and add these lines in your code.
    <key>NSLocationAlwaysUsageDescription</key>
    <string>This App requires your location</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>This App requi

[2016-09-12 06:41] swabzz commented on #76
Thanks Manish,

Is this solution valid for SwiftLocation Library???

I mean i have SwiftLocation library installed so do i need to do all above procedure to get location in background??

Thanks again for your quick response.

[2016-09-12 06:51] manish-1988 commented on #76
In any case you need to perform the target - capabilities thing and plist thing I mentioned in my above answer rest,
If you want to use this library it is clearly mention in the documentation how to do it.
You just need to add this

Do let me know if it works.

[2016-09-12 06:59] swabzz commented on #76
Thanks Brother for helping,

will let you know if it works

[2016-09-12 07:05] malcommac commented on #78
Just fixed a podspec error; however there is a bug with cocoapods and swift 3 compiling.
See https://github.com/CocoaPods/CocoaPods/issues/5846
It should be fixed very soon, hope to post SwiftLocation 1.1.0 later today.

[2016-09-12 07:11] malcommac commented on #73
see https://github.com/malcommac/SwiftLocation/issues/78

[2016-09-12 07:11] #73 closed, assigned to nobody

[2016-09-13 23:08] robbiet480 opened #79 "iTunes Connect rejects builds because NSBluetoothPeripheralUsageDescription is required"
I just submitted a build to iTunes Connect that was rejected. The email I received stated:

`This app attempts to access privacy-sensitive data without a usage description. The app's Info.plist must contain an NSBluetoothPeripheralUsageDescription key with a string value explaining to the user how the app uses this data.`

I looked through all my source including Pods. The only project that has an

[2016-09-14 18:32] malcommac commented on #78
Fixed. Pushed 1.1.0 for Swift 3.

[2016-09-14 18:32] #78 closed, assigned to nobody

[2016-09-14 18:35] malcommac commented on #79
Hi @robbiet480; thank you for your report. Yeah SwiftLocation also works to wrap BT features as like it does for CoreLocation.
However I can't think a final solution for this problem (other than fork and remove manually BeaconsManager and related classes).
Maybe a pre-processor macros to exclude it manually at compile time?

[2016-09-14 18:36] malcommac commented on #74
Yes it does.

[2016-09-14 18:55] robbiet480 commented on #79
@malcommac I suggest removing the Bluetooth stuff and requiring that it be included via a Cocoapods Subspec. That's what PromiseKit did when I reported the same issue yesterday.

[2016-09-15 05:25] lfarah opened #81 "CocoaPods + Xcode 8 error"
Got an error when trying to install SwiftLocation:
# Podfile

[code]
# Error

[!] /usr/local/bin/git clone https://github.com/malcommac/SwiftLocation.git /var/folders/4b/dcgjrm3n3_3gh45gk237vx5c0000gn/T/d20160914-28528-1fe4wov --template= --single-branch --depth 1 --branch 1.1.0

Cloning into '/var/folders/4b/dcgjrm3n3_3gh45gk237vx5c0000gn/T/d20160914-28528-1fe4wov'...
warning: Could not find remo

[2016-09-15 15:53] andreabusi commented on #72
Solved, thanks!

[2016-09-15 16:14] malcommac commented on #81
Let's try again and tell me if it works plz :)

[2016-09-15 18:06] lfarah commented on #81
It works now. Thanks! 😄

[2016-09-15 18:06] #81 closed, assigned to nobody

[2016-09-17 10:32] gbtommasi opened #82 "cancel() calls itself recursively"
Hello,
I want to stop location when application enters background or is killed, and start monitoring significant changes only. I am possibly doing something wrong, but if I cancel a request using request.cance(), it calls itself recursively a couple of hundredth thousand times and the app crashes here in LocationRequest:

[code]

this happens in Swift 2.3 and 2.2 branches.

[2016-09-17 16:51] #74 closed, assigned to nobody

[2016-09-18 06:22] dhavalkmistry opened #83 "cant run in xcode 7.3 it gives me 200+ errors ... please help"
<img width="1196" alt="screen shot 2016-09-18 at 11 51 35 am" src="https://cloud.githubusercontent.com/assets/8543485/18613350/4f8ad112-7d96-11e6-8c70-429762ceef50.png">

[2016-09-18 06:32] malcommac commented on #83
Swift 2.2 is here https://github.com/malcommac/SwiftLocation/tree/swift-2.2 (master branch is now swift 3). Check out the readme file for more infos.

[2016-09-18 06:32] #83 closed, assigned to nobody

[2016-09-18 06:39] malcommac commented on #79
Have you got some info about how to accomplish it?

[2016-09-18 07:56] robbiet480 commented on #79
@malcommac Not much. I can point you to how PromiseKit implemented it: [here](https://github.com/PromiseKit/UIKit/commit/61bd56304f5c9b4e71c17a89040839868e039269).

[2016-09-18 08:20] dhavalkmistry commented on #83
yes you were right i realised it later , and i have checked the swift 2.2
branch as well , and it runs in my xcode 7.3 , thanks man . and i wanted to
know that i have to track user location every 1km ,so if i use continuos
location tracking and if app is in suspended mode will it work in suspended
mode as well , please help me with this as i have to complete this
functionality asap.

On 18 Septemb

[2016-09-19 10:25] sagaya opened #84 "I get this error when installing the pod ` SwiftLocation (~> 1.1) required by Podfile`"

[2016-09-19 10:32] #84 closed, assigned to nobody

[2016-09-19 11:20] sagaya opened #85 "Location not updating on launch"
Here is the code am using

[code]

The code is in my `didFinishLaunchingWithOptions` because i want to update the location each time the app is lanched but it is crashing the app on launch it is not getting the location

[2016-09-19 12:49] malcommac commented on #85
Have you already set `NSLocationAlwaysUsageDescription` or `NSLocationWhenInUseUsageDescription` in your app's Info.plist?

[2016-09-19 13:47] sagaya commented on #85
Yes i have i set the two

[2016-09-19 13:57] sagaya commented on #85
And i got this in the log `Location to Allowed
Error Domain=kCLErrorDomain Code=0 "(null)"
Location manager error: The operation couldn’t be completed. (kCLErrorDomain error 0.)`

[2016-09-19 14:10] sagaya commented on #85
Ok the simulator is the problem had to set new current location

[2016-09-19 14:10] #85 closed, assigned to nobody

[2016-09-19 15:26] malcommac commented on #82
Thank you for your report. Just fixed in 8a880f3bb8f8b64e1910f148c362ff588e8e0ce0.

[2016-09-19 15:26] #82 closed, assigned to nobody

[2016-09-19 15:26] malcommac commented on #76
Could we close it?

[2016-09-19 15:28] swabzz commented on #76
Yes, Please and thank for support

[2016-09-19 15:36] malcommac commented on #76
No problem, you're welcome. thanks to @manish-1988 for support.

[2016-09-19 15:36] #76 closed, assigned to nobody

[2016-09-20 12:31] zabolotiny commented on #79
Hey Guys, any status update regarding this issue? I am going to use SwiftLocation in my project and i don't want to be rejected...

[2016-09-20 12:33] malcommac commented on #79
If you need to post the update right now my suggestion is to copy manually all files related to Location in your project:

[code]

I need to investigate in it but right now I've not enough time (I'll see it the next week).

[2016-09-20 12:38] zabolotiny commented on #79
Hey Daniele, thanks for the fast response and for the provided solution!

[2016-09-20 13:02] sagaya opened #86 "Am not able to get the users current address"
[code]

[2016-09-20 16:50] ServicePal commented on #79
We ran into the same issue with another location library we are using. We simply re-submitted the app with NSBluetoothPeripheralUsageDescription set and got approved right away. In our case, the library optionally works with Bluetooth devices for better GPS tracking. We haven't turned that on, so the NSBluetoothPeripheralUsageDescription is never shown to the user.

Starting in iOS 10, your Info.p

[2016-09-20 20:32] robbiet480 commented on #79
@malcommac [Here's](https://github.com/nickoneill/PermissionScope/issues/194#issuecomment-248424690) an update that the author of PermissionScope got directly from Apple with a suggested fix.

[2016-09-28 17:45] akac opened #87 "macOS support?"
Since 90% of this is usable on both iOS and macOS could you create a macOS target?

[2016-09-30 19:10] malcommac commented on #86
Without more info it's impossible to reproduce this bug.

[2016-09-30 19:10] #86 closed, assigned to nobody

[2016-09-30 19:12] malcommac commented on #87
Need to investigate about the remaining 10% but I'll try to add it if possible :)

[2016-10-21 08:06] Dharin-shah opened #89 "Using google as Reverse Location service throws runtime exception"
[code]

**And the Error**

[2016-10-24 14:02] Craytor opened #90 "Using @discardableResult as result object for tasks"
I am getting the following warning (and I don't like warnings), and I'm not sure how to get rid of it.

![](http://shots.tjyouschak.me/vtJHvH/Screen-Shot-2016-10-24-10-01-56.png)

Is this normal, or better yet, how should I handle the error?
Many thanks!

[2016-10-24 14:25] malcommac commented on #90
you can use

[code]

to silent the warning.
However I mark it as an enhancement because we should use `@discardableResult` for these function since Swift 3.

[2016-10-24 14:56] Craytor commented on #90
Ah, thanks! That silenced it.

[2016-11-15 05:54] happiehappie opened #92 "Value of type 'Request' has no member 'stop'"
I was following the documentation literally and I got the error in the title

                let request = Location.getLocation(withAccuracy: .city, frequency: .oneShot, timeout: 50, onSuccess: { (location) in
                    // You will receive at max one event if desidered accuracy can be achieved; this because you have set .OneShot as frequency.
                }) { (lastValidLocation, err

[2016-11-15 05:57] happiehappie commented on #92
I'm using Swift 3 if it matters

[2016-11-16 04:04] chengsam commented on #92
I think the method is `cancel()`

[2016-11-17 16:43] mrfarukturgut opened #93 "getLocation() does not work"
Hi,

I am trying to build Location Manager based on SwiftLocation. I made a simple function which you can find below, but it completely does not work. I am not sure it is because of the library or any other thing. The interesting point is when I call this function from ViewController which appears first,
Allow request for Location Services pops up but disappears right away. Any help will make me s

[2016-11-20 22:41] demetrio812 opened #94 "Monitoring beacons regions problems"
Hello,
I'm trying ranging and monitoring and I discovered something strange: if I only start monitoring nothing happens, but if I first start ranging, then cancel it and then start monitoring, it works.

Any idea?
This is the code I use to start monitoring for a beacon (only by uuid):

[code]

This is the code I use to start ranging:

[code]

I've tried to debug but it seems fine to me...Any idea

[2016-11-20 23:14] demetrio812 commented on #94
I also add that if I use Event.All, it works the first time, then if I cancel and create it again the ranging still works but the monitoring doesn't...

I'm testing on iPhone 7 Plus and iOS 10.1.1

Thanks,
Dem

[2016-11-21 13:51] demetrio812 commented on #94
Update: I've tried the Estimote SDK and monitoring works properly...

Also I've noticed that when I enable monitoring in SwiftLocation I get this message:

2016-11-21 13:49:35.343952 BeaconTesting[11156:3696159] [Client] {"msg":"Fence: onClientEventRegionState, invalid state", "regionState":"0"}

Cheers,
Dem

[2016-11-21 14:00] demetrio812 commented on #94
New update: I still get that error but I've noticed that it takes time for the monitoring to start, don't know why the estimote one is faster and doesn't give that error on the console.

Hovewer after about 1 minute since I've started the monitoring it works...

Closing this, thanks

Dem

[2016-11-21 14:00] #94 closed, assigned to nobody

[2016-11-22 10:57] O-mkar commented on #93
Same here i'm having this issue
Location manager error: The operation couldn’t be completed. (kCLErrorDomain error 0.)

[2016-11-22 11:35] Alex293 commented on #93
Did you set the keys in the plist ?

[2016-11-22 11:38] O-mkar opened #95 "While location is always getlocation doesn't work"
I tried to request while permission is in always mode and it stops working when i request the second time but first time works. but while in use works well.

[2016-11-22 13:46] mrfarukturgut commented on #93
I have solved the issue. yes I had set the keys in the plist for location but it was not work. I have changed the library with a little simpler one (https://github.com/lypiut/WhereAmI) that i use because i just need to get current location. Then deleted the keys in the plist, set them again afterwards. Now it is working.

[2016-11-30 20:08] #93 closed, assigned to nobody

[2016-11-30 20:10] malcommac commented on #92
Yeah it was cancel().
Fixed doc.
Thanks.

[2016-11-30 20:10] #92 closed, assigned to nobody

[2016-11-30 20:11] malcommac commented on #95
I think I don't understand your workflow. Can you explain it better please?
Thanks.

[2016-11-30 20:45] malcommac commented on #89
You don't need to call `.start()` on  `Location.reverse` returned object , it's called automatically.
However there was a bug with Swift 3.1 where `URLSessionTask` does not seem include our extension.
Actually I've encapsulated `URLSessionTask` in a generic `NetworkTask` and it now works fine.
That's the commit.
https://github.com/malcommac/SwiftLocation/commit/8222a9336a3b38fdd3c8bb557866e5885051

[2016-11-30 20:47] #89 closed, assigned to nobody

[2016-12-01 03:08] O-mkar commented on #95
@malcommac
When Location is "Always": When I request Location of a user using getlocation the First request I make give me correct results but in a second request I make give me a null response even lastValidLoc is null it doesn't work at all till I restart the app.

[2016-12-01 17:20] murad1981 commented on #95
same thing happens here, but my setup is `getLocation(withAccuracy: .block, frequency: .byDistanceIntervals(meters: 1) `

so I needed to fire the success block each time I travel a distance of 1 meter, is there something special should I do in order to get it to work ?

p.s. I tested it on iPhone 6Plus iOS 10 device

[2016-12-04 08:46] ogezue opened #96 "Namespace conflict"
Would it be possible to rename Location into SwiftLocation to avoid Namespace conflicts? Location is to generic and in my app I currently have to do some workarounds now.
Same for Request.

[2016-12-04 09:10] ogezue opened #97 "Energy consumption"
My use case is to monitor the time when the user traveled (car, train, etc.) so my app is constantly running in background.

With this setting I have an concumption of round abeout 15-20% on an iPhone 6s
[code]

I tried the Cintric SDK and they perform significantly better with a usage of 1%.
https://github.com/cintric/cintric-locate-tester. If you want to test Cintric make sure you add
`[Cintric

[2016-12-05 19:04] Alex293 opened #98 "Multiple request at the same time"
Hi, just wanted to know if I have like 3 or 4 exactly same requests at the same time but in different controllers will they get the same result ? will it consume more resource or the manager is designed to handle this case ?

[2016-12-07 07:40] ghost opened #99 "Canceling requests does not stop location tracking resulting in battery drain"
We noticed considerable battery drain while evaluating SwiftLocation: our setup creates a one shot request for the current location, then cancels this request. Even after adding cancelation of all requests on several exit points (viewcontroller, appDelegate) location monitoring is still active and  draining the battery.
I don't have the time to look for the underlying cause myself as we will take

[2016-12-07 10:53] malcommac commented on #99
Hi @halkmund,
Are you sure you are talking about a single one shot request?
Also you don't need to stop the request

[code]

Just after the request CPU usage is zero:
Can you tell me more about it?

<img width="259" alt="screen shot 2016-12-07 at 11 53 01" src="https://cloud.githubusercontent.com/assets/235645/20964903/c45ed5bc-bc73-11e6-8206-53b89876fce0.png">

[2016-12-07 12:00] ghost commented on #99
Yes, one shot request.

We cancel the request onSuccess and/or failure. Then we also use stopAllLocationRequests. I have noticed that stopAllLocationRequests needs an error in order for the request to be actually canceled .. We did not supply an error in our setup. But then again, calling cancel on our request should trigger the remove() on the LocationManager. Which in turn should trigger the upd

[2016-12-27 14:55] tejasverixo commented on #95
i tried same thing but it's not working. my setup is `getLocation(withAccuracy: .house, frequency: .byDistanceIntervals(meters: 50)`

so I needed to fire the success block each time I travel a distance of 50 meter.
Plz advice.

[2016-12-29 07:25] anhhtbk opened #100 "Not work on Simulator"
It work on my iPod (iOS 9). But not on Simulator (iOS 10)
Error: `_BSMachError: port 904b; (os/kern) invalid capability (0x14) "Unable to insert COPY_SEND"`

[2016-12-29 07:57] anhhtbk commented on #100
I found solution in stackoverflow

[2016-12-29 07:57] #100 closed, assigned to nobody

[2016-12-29 08:54] swabzz opened #101 "What if no location found in first time??"
Hello There,
I am trying to get user location with continues frequency and background mode enabled.
here is the code,

[code]

1 -- App running in simulator and location is not set yet
      In above case app running and last location found (nil, nil)

2 -- In same session if i enable the location and set it to "London, England" then no change found or no success block getting executed.

am i miss

[2016-12-30 08:54] swabzz commented on #101
alsp
If background mode is enabled to get location then what will happen if app is not active for 2-3 hours??

Will library continue to get location??

[2017-01-06 11:25] bphenriques opened #102 "onAuthorizationDidChange not called (and never called) on specific flow"
Environment:
- Version 1.1.1
- Swift 3
- iPhone 4S 8.4

I am displaying a alert to open the app settings when the status is different than the one required (.alwaysInUse). The handler is being called when I swap between an incorrect value (`!= .alwaysInUse`) and (`.alwaysInUse`) but is not called between two incorrect values. This is important because I am using the handler to open an alert.

Repr

[2017-01-08 17:40] malcommac opened #103 "Support for Swift Package Manager"
Add support for Swift PM

[2017-01-08 17:41] malcommac commented on #103
Added in https://github.com/malcommac/SwiftLocation/commit/66f4f72d29bbe13b53ad9957992e7c7adc63f4d8.
Scheduled for 1.2.0

[2017-01-08 17:41] #103 closed, assigned to malcommac

[2017-01-08 17:52] malcommac commented on #102
Hi @bphenriques,
This not seems a bug; in fact when an error occurs while performing a request the request itself is aborted and removed from the queue.
You should re-add it manually.

[2017-01-09 08:55] malcommac commented on #102
I'm working around it in order to provide a recovery on error feature. I'll update this thread soon as I can.

[2017-01-09 09:25] bphenriques commented on #102
Hey @malcommac , that behaviour was not clear for me. I will attempt to re-observe on viewWillAppear and see if it solves the issue

[2017-01-09 10:33] Alex293 commented on #102
So if I want to ignore errors and keep updated I should start another request in the error callback ?
Isn't simple that the request shouldn't be discarded unless we cancel it in the error callback ?

[2017-01-09 10:35] bphenriques commented on #102
That was the behaviour I was expecting as well (cancel on viewWillDisappear/deInit)

[2017-01-15 15:29] youss-cs opened #105 "It will wake up the app if it's suspended or killed ?"
In my app i need to get location continuously, even if the app is killed or suspended. is that possible ?
If yes can you provide me how i can set up this please ?

[2017-01-24 00:23] Milestacular commented on #105
@youss-cs you can run in background fairly easily, head to the README.md and search in page for background and you'll find what you need fairly quickly. 😊

[2017-01-24 00:24] Milestacular commented on #105
Apologies I just realised you meant when the app is closed from the background.

[2017-01-24 00:25] youss-cs commented on #105
Yes, is that possible ?

[2017-02-02 05:36] swabzz opened #106 "Background location update stopig after some time even if continues mode is activated"
Hi,

-- I my application i want to get user location even if app is closed (terminated by user) on every 5 meter move
-- I have activated continues and background location update of library

My problem is when user going in background mode (not using application) then after some time location update is getting stoped. Is there specific scenario are you using for background location update.

Your h

[2017-02-02 07:15] swabzz commented on #76
@manish-1988

did you get solution for updating location even if app is terminated?

[2017-02-02 13:54] #106 closed, assigned to nobody

[2017-02-02 13:57] #101 closed, assigned to nobody

[2017-02-03 15:22] manish-1988 commented on #76
@swabzz  Yes what I did is I have used region monitoring. First I created a background task before app termination and created a region as soon as the device crosses the region, I have created another region from the current coordinates while entering and exiting from regions,  did update location delegate gets called and I get the updated coordinate while application is in terminated mode.

[2017-02-03 16:26] swabzz commented on #76
Thanks for quick reply @Manish

Your solution is awesome but can you share your code please ?
It will be easy for me to implement in my project. :-)

[2017-02-05 14:47] ghost commented on #105
@youss-cs are you referring to activating background modes in order to continue receiving the location even if the app is closed?

<img width="741" alt="screen shot 2017-02-05 at 9 46 01 am" src="https://cloud.githubusercontent.com/assets/15761334/22627020/f76550d8-eb87-11e6-9efd-90e13d0cc01b.png">

[2017-02-08 11:59] Jeehut commented on #79
I find the solution used by the Permission library very elegant (has both a solution for CocoaPods and Carthage) – while the CocoaPods solution is relatively easy (subspecs) the Carthage one is a bit more work, but I really like their approach. Here's what to do from the framework users perspective:
https://github.com/delba/Permission#configuration

[2017-02-08 23:17] jovobe commented on #96
Same for Request.

I have the same issues and the following worked for me:
[code]

[2017-02-09 07:23] ogezue commented on #96
Yes - this is working, but I wouldn't use such prominent names in my framework.

[2017-02-09 07:23] #96 closed, assigned to nobody

[2017-02-09 19:25] jovobe commented on #96
I absolutely agree with You! I just wanted to show You a small workaround until a fix is released.

[2017-02-10 20:46] dbpfindexp opened #107 "Split Location and Beacon support"
To keep the pod super lite any plans on splitting up Beacon Support & plain Location stuff on it's own.  I really don't need the extra Beacon stuff and just want a super lite Location pod.

[2017-02-11 15:30] nico75005 opened #108 "kCLErrorDomain error 0"
I have an iPad mini retina without a SIM card but the iPad is connected to my Wifi. I'm currently inside and my location request uses an accuracy of `.house`, a frequency of `.oneShot`, with a `timeout` of 120.

When I try to get the location, after about 25 seconds, I get the following error:

[code]

But when I get an accuracy of `.block`, I get the location almost straight away.

Can someone ex

[2017-02-16 16:46] malcommac commented on #107
Yeah the next release (in 2.0.0 branch) will contains only location services monitor.
Beacon services will be splitted in another framework.

[2017-02-19 21:00] JRG-Developer commented on #79
How about creating sub specs in the pod spec, e.g. separating out bluetooth-required classes there?

This would at least solve the problem for everyone installing via CocoaPods, which I imagine is most/many consumers?

I'll try to find time to look at how feasible this is based on classes already there.

Best case: it would simply require moving classes around into different directories to support

[2017-02-19 22:11] malcommac commented on #79
I'm working on a new version on 2.0 branch; however this is a common issue I would resolve before moving forward. Location and Bluetooth modules are indipendent so if you know how to move them to a subspecs I'll be more than happy to accept a PR. Otherwise I'll remove BT monitoring from current spec.

[2017-02-20 08:57] malcommac commented on #107
I've released an 1.2.0 update which remove temporary the bluetooth from the spec.

[2017-02-20 08:58] #107 closed, assigned to nobody

[2017-02-20 08:58] malcommac commented on #79
1.2.0 temporary remove it.
We will come with a more final solution before 2.0.0.

[2017-02-20 08:58] #79 closed, assigned to nobody

[2017-02-20 17:40] malcommac commented on #105
The only supported way to have background even if the app is terminated is to register for `significant` location updates or by registering monitored regions.
What accuracy do you need?

[2017-02-20 17:44] youss-cs commented on #105
I need new location every 1min, significant location give new location only if user move 500m so it's not what i need.

[2017-02-20 18:22] malcommac commented on #97
Since SwiftLocation 2.0 I've rewrote the entire part of location manager. Give it a try (some APIs call are changed but it's a matter of names, nothing more).
You can track the current status of the LocationTracker class by printing the description of the object itself.

[2017-02-20 18:22] #97 closed, assigned to malcommac

[2017-02-20 18:29] malcommac commented on #98
Hi,
The overall energy consumption is based upon the highest level of precision between all running tasks. And yeah if two requests are created with the same settings you will receive the same results in both of them.

[2017-02-20 18:29] #98 closed, assigned to malcommac

[2017-02-20 18:31] malcommac commented on #90
Since 2.0.1 all requests allows @discardableResults.
Please notice: while the overall behaviour is the same, since 2.x branch some API names are changed. Nothing dramatic 👍

[2017-02-20 18:31] #90 closed, assigned to malcommac

[2017-02-20 18:33] malcommac commented on #99
I've fixed it in 2.x branch.
When you create a new request via `Location` func it will be added automatically and started. You can however `pause()` or `cancel()` it at any time. Global overall settings and consuption will be adjusted automatically based upon currently running request.
Please notice: while the overall behaviour is the same, since 2.x branch some API names are changed. Nothing dram

[2017-02-20 18:33] #99 closed, assigned to malcommac

[2017-02-20 18:34] malcommac commented on #102
Since  2.x branch you can observe the authorization status for each request:

[code]

Please notice: while the overall behaviour is the same, since 2.x branch some API names are changed. Nothing dramatic 👍

[2017-02-20 18:34] #102 closed, assigned to malcommac

[2017-02-20 18:38] malcommac commented on #95
Since 2.0 you can set a frequency with `continous` and set the Request's property `minimumDistance`.
Please notice: while the overall behaviour is the same, since 2.x branch some API names are changed. Nothing dramatic 👍

[2017-02-20 18:38] #95 closed, assigned to nobody

[2017-02-20 18:40] malcommac commented on #108
kCLErrorDomain 0 means the location could not be determined.

[code]

I would guess the most likely cause is that the location manager is using WiFi to triangulate the location .Have you got the same problems with standard CLLocationManager?
Give a try to version 2.0.1 and tell me if it works for you.

[2017-02-20 18:42] malcommac commented on #105
There is not an official way to do continuous location monitoring in background for an unlimited time.
You could create a background task and register a region; once the device exit from the region the app is resumed/restarted and in your AppDelegate's `didFinishLaunching` func you can register another region...and so on.
This is one of the trick you may use but energy consuption may be huge and A

[2017-02-23 12:55] sunweifeng opened #109 "app crash when Location permission "Not Determined""
app crash when Location permission "Not Determined"

code here:
[code]

[2017-02-23 13:25] malcommac commented on #109
Hi @sunweifeng;
can you describe the situation and the crash?
How you got the "Not Determined" state and what's the stack trace of the crash?
Thank you

[2017-02-23 13:26] #108 closed, assigned to nobody

[2017-02-23 13:26] #105 closed, assigned to nobody

[2017-02-24 03:24] sunweifeng commented on #109
Hi @malcommac

Issue solved by Clean action, maybe some cache file cause this issue, because i updated the library from  version 1.xx to 2.xx .

[2017-02-24 03:24] #109 closed, assigned to nobody

[2017-03-01 12:03] bchrobot opened #110 "Update README with NSBluetoothPeripheralUsageDescription requirement"
First of all, thank you for an amazing library!

Xcode 8 / iOS 10 require `Info.plist` to contain a description for the `NSBluetoothPeripheralUsageDescription` key if `CoreBluetooth` is included (beacons). It might be helpful to include this in the README's installation notes along with clarification that the description will only be displayed if 'Acts as a bluetooth LE accessory' is added to back

[2017-03-03 09:39] O-mkar opened #111 "Background location (.significant) update is on the on (.oneShot) Doesn't work"
I have registered Background location update in application(_ application: UIApplication, didFinishLaunchingWithOptions launchOptions: [UIApplicationLaunchOptionsKey: Any]?)

[code]

If it is running Oneshot doesn't work.

[2017-03-16 05:03] mamdouhweb opened #113 "High accuracy is simply not working on devices"
Hello there!

I'm running this library with `.house` accuracy and it simply hangs if I'm testing on my device (iPhone 7) However, it works perfectly with the simulator.
I tried the `.city` accuracy and it worked perfectly on both, the simulator and the device.

I can't tell exactly what's wrong, as the onError part of the location request is even being called.
I can see that the request is being a

[2017-03-16 09:42] umutdonmez8 commented on #76
Hi,

I have a question about this background issue. In swiftLocation documentation `Location.allowsBackgroundEvents = true` code writes for activate background location updates. I integrate SwiftLocation to my new project but, there is not any variable to set `allowsBackgroundEvents`

When I am trying to get location there is a log like
`A new request is added to the queue [LOC:826CB3FC-F0BD-4CB8-

[2017-03-16 18:31] umutdonmez8 opened #114 "Background Location Updates"
Hi,

I have a question about this background issue. In swiftLocation documentation Location.allowsBackgroundEvents = true code writes for activate background location updates. I integrate SwiftLocation to my new project but, there is not any variable to set allowsBackgroundEvents

When I am trying to get location there is a log like
A new request is added to the queue [LOC:826CB3FC-F0BD-4CB8-B8E2-

[2017-03-17 16:58] aliasdoc opened #115 "lastLocation, internal ???"
In v2 we can't access to LocationTracker.lastLocation due to internal protection level, why ? Is there another way ?
[code]
Thank you.

[2017-03-19 16:13] aliasdoc commented on #114
Hi @umutdonmez8 , you need to set "Background fetch" in capabilities.

[2017-03-24 18:17] santhoshs5 opened #116 "How can i use this for geo reversing with google maps as you wrote we can use"

[2017-03-24 18:21] santhoshs5 opened #117 "Initialize LocationTracker in background thread will results in a warning"
A location manager (0x1610ab70) was created on a dispatch queue executing on a thread other than the main thread.  It is the developer's responsibility to ensure that there is a run loop running on the thread on which the location manager object is allocated.  In particular, creating location managers in arbitrary dispatch queues (not attached to the main queue) is not supported and will result in

[2017-03-28 13:45] Ekhoo commented on #113
I have the same issue. Did found something ?

[2017-03-28 13:53] Ekhoo commented on #113
@malcommac can you please fix the high accuracy ? For me, `.room` and `.house` don't work.

[2017-03-28 14:58] npjk opened #118 "Getting user location doesn't seems to work on iOS9"
Hello,

When I try to retrieve user location on iOS9, the request is added to the queue but then nothing happens. You can reproduce this in the simulator with the sample project by using the first commented case :
[code]

It works on iOS10 sim but not on iOS9 (same on devices).
I tried many configurations but it doesn't seems to change anything.

[2017-03-29 03:44] wholeinsoul opened #119 "can this framework be used within an obj-c project"
can this framework be used within an obj-c project ? Any example will be useful.

Thanks.

[2017-03-31 21:27] ay8s opened #120 "Significant Location Changes don't require UIBackgroundModes key"
I believe the logic currently requires it to be enabled however "apps can use the signifiant location change interface to receive location events instead of registering as a background location app."

https://developer.apple.com/library/content/documentation/General/Reference/InfoPlistKeyReference/Articles/iPhoneOSKeys.html

Just digging into this after a rejection for having location enabled in b

[2017-04-05 07:23] malcommac commented on #118
Have you added `NSLocationWhenInUseUsageDescription` or `NSLocationAlwaysUsageDescription` in your apo's `Info.plist`?
(Don't use `NSLocationUsageDescription` because it's deprecated)

[2017-04-05 07:24] npjk commented on #118
Yes (and it is also in the sample project)

[2017-04-05 07:31] npjk commented on #118
Hum, it seems that I messed up with versions in my first post (edited) but, just to be clear : it works on iOS10 but not on iOS9

[2017-04-05 07:42] #117 closed, assigned to nobody

[2017-04-05 07:43] malcommac commented on #117
Thank you, I've fixed it.

[2017-04-05 07:54] malcommac commented on #116
Can you explain it better?
Would you to reverse geocoding a location coordinate to an address using google maps apis?

[2017-04-05 08:01] malcommac commented on #115
I've reproduced it but I don't know how to solve; it's a `private(set` and it's the same with `fileprivate(set)`.
I must confess, I'm a bit confused

[2017-04-05 08:14] malcommac commented on #118
Just tried with 9.3.5 and it works fine.
Then only problem I can't get notifications about auth changes.
Is the app requests to you auth to get the location at startup?

[2017-04-05 08:18] malcommac commented on #118
Meanwhile I've fixed the dispatch of auth events (https://github.com/malcommac/SwiftLocation/commit/ef557ae1713fe9a1bef5851ffaeafa062800804e)

[2017-04-05 08:23] npjk commented on #118
Yes, it requests auth but that's it.

[2017-04-05 08:30] npjk commented on #118
I tried the develop branch, now, I get notified when Auth changes but I'm still not getting anything after that.

![screen shot 2017-04-05 at 10 27 10 am](https://cloud.githubusercontent.com/assets/7323838/24696774/ecd8ac3c-19ea-11e7-9ab2-3f14d37168d0.png)

[2017-04-05 08:31] malcommac commented on #120
Thank you for your feedback. I've removed the request for background modes in significant location request.

[2017-04-05 08:31] #120 closed, assigned to nobody

[2017-04-05 08:32] malcommac commented on #114
As @aliasdoc said you must also enable location UIBackground capabilities

[2017-04-05 08:32] #114 closed, assigned to nobody

[2017-04-05 08:37] malcommac commented on #119
I'm sorry but Objective-C support is not part of the plan. While you can use it because the LocationTracker is an ObjC class, some helper structs are not compatible.
You can however use https://github.com/intuit/LocationManager, it's very similar and works fine.

[2017-04-05 08:37] #119 closed, assigned to nobody

[2017-04-05 08:49] malcommac commented on #110
Currently I've removed bluetooth discovery from the library. Thanks.

[2017-04-05 08:49] #110 closed, assigned to nobody

[2017-04-05 09:17] npjk commented on #118
I manage to get (just now) an iPhone running on iOS9 and it works fine on it... so I don't know... could it be a bug occuring only on my iOS9 sim ?

[2017-04-05 09:34] malcommac commented on #115
ok found it must be `public private(set) ...`
Thanks.

[2017-04-05 09:35] santhoshs5 commented on #116
I was asking How can I get reverse geocoding a location coordinate to an address using google maps apis

[2017-04-05 09:40] malcommac commented on #115
Reference commit: https://github.com/malcommac/SwiftLocation/commit/cba21f086588a0171f7d7e78ed3f1963837036d4

[2017-04-05 09:40] #115 closed, assigned to nobody

[2017-04-05 09:42] malcommac commented on #113
![img_0504](https://cloud.githubusercontent.com/assets/235645/24699597/d7a142ca-19f4-11e7-957c-a57f692886a9.PNG)

Just fixed in 2.0.2.
(example included, the upper field receive only valid locations, the bottom side receive all locations. It takes a while to receive the best accuracy sometimes).

[2017-04-05 09:42] #113 closed, assigned to nobody

[2017-04-05 12:32] malcommac commented on #118
What a strange thing :-)
Tell me if you encounter something else.
I'll close it right now.
Just released 2.0.2 on cocoapods.

[2017-04-05 12:33] #118 closed, assigned to nobody

[2017-04-05 12:38] malcommac commented on #111
Significant location monitoring may not return the accuracy you expect; in your example you are requesting an high precision location and probability due to significant monitoring constraints you will never get.
Try to set it to `any` and tell me if you get some sort of results.

[2017-04-06 04:20] O-mkar commented on #111
@malcommac Okay

[2017-04-06 07:06] #111 closed, assigned to nobody

[2017-04-07 00:17] rujoota commented on #116
@santhoshs5
Use the following method to use Google placemarks:
Location.reverse(location: loc, using: .google, onSuccess: successHandler, onError: errorHandler)

Make sure you set Location.googleAPIKey and enable proper services in Google developer dashboard.

[2017-04-07 00:20] rujoota opened #121 "Detecting user's activity/motion state"
Is there a way to detect motion while getting location updates?

In readme, it is mentioned that request.register method can be used for such purposes, but couldn't find much after digging into it.

Also, you need to update readme, all the functions are not applicable for your library's current version.

[2017-04-07 03:28] santhoshs5 commented on #116
is this method needs to be called on main queue .Because Google mandate call this method on main queue.

[2017-04-07 05:35] rujoota commented on #116
Haven't tried that....

[2017-04-07 06:50] malcommac commented on #116
Actually I've removed it from current version. I'll update it soon as I can to re-introduce this feature.

[2017-04-07 17:58] dfsaetamar opened #122 "Value of type 'LocationTracker' has no member 'allowsBackgroundEvents'"
I have error when using
"Location.allowsBackgroundEvents = true"
Before it worked correctly but apparently no longer works since upgrade to Xcode 8.3.1

Any idea why the error?
Thanks, SwiftLocation is great

[2017-04-11 09:47] pbeneteau opened #124 "Value of type '[CLPlacemark]' has no member 'postalCode'"
How can i get the postal code from the CLPlacemark returned by `getPlacemark()` ?

[2017-04-11 09:48] pbeneteau commented on #124
What really represents this array?

[2017-04-13 14:54] royvano opened #125 "getLocation does need 15 seconds to show userLocaton"
When I use Location.getLocation, it needs like 15 seconds to load my current location.
I've updated the pod but this doesn't affect it.

I checked if any of my functions would be doing this, but when I print "hello" before the func and "hello2" in the function where the location is displayed. The first "hello" is printed immediately, and the "hello2" is only printed after those 15 seconds.

When I

[2017-04-14 21:05] Laptopmini opened #126 "Question about Background Updates"
Resolved.

[2017-04-15 00:25] Laptopmini opened #127 "Ability to disable print statements"
It would be nice to be able to disable all the debug statements you have included. Applications in Production will not make use of these, but they are still evaluated, impacting the performance (even if very little).

I will probably fork and remove them, I'll see if I have the time to make a pull request.

[2017-04-15 08:45] #127 closed, assigned to nobody

[2017-04-15 08:46] #126 closed, assigned to nobody

[2017-04-18 04:01] dilizarov opened #128 "oneShot frequency fires off twice, the second time being a timeout error. (Version 2.0.2)"
[code]

This returns the location for me and then soon after it'll also trigger my error handler.  I've come across different bugs that have led me to update to the latest version, but I'm not feeling confident with this library lately because of the bugs :/

[2017-04-18 04:42] dilizarov commented on #128
Nevermind, I realized the error in my ways. Nothing wrong with lib. This was expected behavior.

[2017-04-18 04:42] #128 closed, assigned to nobody

[2017-04-25 09:46] SuYungCheng opened #129 "Can SwiftLocation Framework get related degree from user locatoin to some location?"
If I know some location(latigude,longitude),
I want to make a Infomation view in my screen like AR,
How can I get the heading to the location, not to the north.
When I face to the location , I want to keep a view in my screen.
when I turn left,the Infomation View move from screen to the right hand.
Thanks!

[2017-04-27 13:50] florianthiel commented on #115
`last` and `bestAccurated` also should be `public private(set)`. Right now they are inaccessible

[2017-05-01 00:47] taglia3 opened #130 "Force Always authorization"
Hi,

can I force the Always Authorization permission request for any location request even if the frequency is continuous?

Thanks,
Matteo

[2017-05-06 14:16] falnatsheh commented on #128
@dilizarov Curious to know what you were doing wrong that caused this behavior. I also starting seeing something similar in 2.0.2.

[2017-05-07 04:32] falnatsheh opened #131 "`oneShot` frequency with timeout keeps firing"
When I try to get `oneShot` location with `timeout` the error closure keeps firing.

[code]
I'm using the latest version `2.0.4` and testing on iPhone 7 simulator with `Location -> None` option. Please see attached test project, you could run it and see "Location Error" keeps printing in the logs.

[TestSwiftLocation.zip](https://github.com/malcommac/SwiftLocation/files/981311/TestSwiftLocation.zi

[2017-05-08 12:46] malcommac commented on #131
Thank you, just fixed https://github.com/malcommac/SwiftLocation/commit/4875ed9acc7a61b0b3e217fc05d220e0b674ec71

[2017-05-08 12:46] #131 closed, assigned to nobody

[2017-05-08 12:48] malcommac commented on #130
`Always` authorization is used for background monitoring, `When In Use` if your app will use tracking only in foreground

[2017-05-08 12:48] #130 closed, assigned to nobody

[2017-05-08 12:49] malcommac commented on #125
can you paste here your func to get the current location? The time required to get first valid result (where valid is the accuracy you have requested) depends by the hardware + accuracy requested.

[2017-05-08 12:50] malcommac commented on #122
`allowsBackgroundEvents` should be set automatically when background monitoring has requested.

[2017-05-08 20:08] radvansky-tomas commented on #115
Can you commit change ?!

[2017-05-09 09:02] arsonik opened #132 "Location.getLocation error handler not being called"
Am I doing something wrong ?
The success block is called nicely, but not the error one if I disallow the location service prompt.
Xcode 8.3.2
[code]

[2017-05-10 08:40] Saad-Umar commented on #116
Any updates on this one yet? @malcommac

[2017-05-11 14:22] Drenov opened #134 "Location.getPlacemark error handler accumulated"
While using **Location.getPlacemark** it is the accumulation of GeocoderRequest`s in Location.pools occurs. Than  failure in for example Location.getPlacemark with disabled geolocation, lead to GeocoderRequest failure completion handlers call in a bunch.

(lldb) po Location.pools
▿ 5 elements
  ▿ 0 : Pool of LocationRequest.Type: 0 total (0 running, 0 paused)
  ▿ 1 : Pool of RegionRequest.Type: 0

[2017-05-15 07:21] afiq90 opened #135 "Getting error when trying to clone swiftlocation with cocoapod"
Hi guys, anyone have any idea why did I got these error ? I'm using xcode 8.3.2

**My pod config :**
![screen shot 2017-05-15 at 3 19 43 pm](https://cloud.githubusercontent.com/assets/8640517/26046541/f9616b36-3981-11e7-851a-3ec0941a3703.png)

**Pod Error :**
![swiftlocation error](https://cloud.githubusercontent.com/assets/8640517/26046511/cca55aee-3981-11e7-83b7-1f0667a0459c.png)

Thank you in a

[2017-05-20 08:18] arsonik commented on #132
my bad was because of the simulator was not giving the location, and I haven't set a timeout

[2017-05-20 08:18] #132 closed, assigned to nobody

[2017-05-22 09:12] gsmeros commented on #135
Same issue here

[2017-05-22 09:54] gsmeros commented on #135
try this :

[2017-05-22 10:02] afiq90 commented on #135
Thank you, it's working perfectly.

[2017-05-23 22:06] lapin-ev opened #137 "WatchOS support"
Apple Watch Series 2 has it's own gps module. Would you add watch os support?
We are going to use Apple Watch in independent mode

[2017-05-25 08:34] NathanJang opened #138 "NSLocationAlwaysUsageDescription in Info.plist not always recognized"
# Steps:
1. Set a description for `NSLocationAlwaysUsageDescription` in `Info.plist`, *without setting `NSLocationWhenInUseUsageDescription`*.
2. Call `Location.getLocation(accuracy:frequency:success:error:)` in `application(_:didFinishLaunchingWithOptions:)` with the frequency as something *other than `.significant`*.

# Expected Result
The app prompts the user for location services "always" (i.e

[2017-05-27 07:59] MuhammadMurtazaMemon opened #139 "When installing pods, Error Occurs"
[!] Error installing SwiftLocation
[!] /usr/local/bin/git clone https://github.com/malcommac/SwiftLocation.git /var/folders/05/qdbzr3rd6t34x70bwjnl2gmh0000gn/T/d20170527-5864-1nkjv0b --template= --single-branch --depth 1 --branch 2.0.2

Cloning into '/var/folders/05/qdbzr3rd6t34x70bwjnl2gmh0000gn/T/d20170527-5864-1nkjv0b'...
warning: Could not find remote branch 2.0.2 to clone.
fatal: Remote branc

[2017-06-01 09:39] rohitgarg4989 opened #140 "how to check the current auth status from swiftlocation ??"
how to check the current auth status from swiftlocation ??

[2017-06-01 13:18] HansBrende opened #141 "Minor typo in LocationError"
You have

`case authorizationDenided`

instead of

`case authorizationDenied`

[2017-06-07 13:24] kohdesmond opened #142 "How to cancel Location.monitor?"
Hi as the subject title.

How do we stop location.monitor?

I would like to let the region monitoring run on at the background.

and stop it once the app is in the foreground.

[2017-06-18 16:05] JQHee opened #143 "I use the method above, but never received a callback."
let x = Location.getLocation(accuracy: .room, frequency: .oneShot, timeout: 60 * 60 * 5, success: { (request, location) in
            debugLog(location)
            request.cancel()

        }) { (request, lastLocation, error) in
            debugLog("Location monitoring failed due to an error \(error)")
            request.cancel() // stop continous location monitoring on error
        }

questi

[2017-06-22 08:16] vincentsaluzzo commented on #143
Up, I've exactly the same problem.

Did you use Swift 4 ? For my self, I'll use it and my first idea was probably a compatibility error but I seen your issue, and you're not mention Swift 4

[2017-06-22 08:34] vincentsaluzzo commented on #143
Forgot my comment I've use simulator, and if we don't specify explicitly a location, there is not location update in core location framework. All is good for me right now :)

[2017-06-22 08:40] malcommac commented on #143
thank you

[2017-06-22 08:40] #143 closed, assigned to nobody

[2017-06-24 18:35] mding5692 opened #144 "Pushing to AppStore, appStore says we should turn off backgroundmode and use significant but we are already"
Hi there, thanks for providing this library.

So my issue is that Apple App Store recommends I turn off backgroundmode for location and instead use Significant Location Changes, but I checked and I am using requestLocation with significant as the frequency. And running my code requires backgroundmode or else my app crashes while on simulator.

Has anyone else faced this and am I doing something wr

[2017-07-01 12:16] adenisonafifi commented on #144
I noticed that SwiftLocation assumes the location UIBackgroundModes key is set (the same problem you're describing). This is addressed this in my pull request:  https://github.com/malcommac/SwiftLocation/pull/136

I haven't heard back about the PR, but feel free to use it to get around the UIBackgroundModes issue.

[2017-07-16 11:00] imran87 opened #145 "Background Request"
How can I create background request.

here below is my code but called when app is in background mode.

    var locationManager: CLLocationManager = CLLocationManager()
    locationManager.allowsBackgroundLocationUpdates = true
    locationManager.requestAlwaysAuthorization()

        if CLLocationManager.authorizationStatus() == .notDetermined{
            locationManager.requestAlwaysAuthorizati

[2017-07-17 10:46] ghost commented on #125
Same here. This is my simple code:
`let request = Location.getLocation(accuracy: .house, frequency: .oneShot, timeout: 30.0, success: { (_, location) -> (Void) in
            success(location)
        }) { (request, location, error) -> (Void) in
            err(error)
        }`

It works seamlessly when the device is connected with Xcode or on simulator, but when I use it just on my phone (iPhone

[2017-07-21 22:24] dannygrob opened #146 "Distance filter always set to best?"
You define
`var distanceFilter: CLLocationDistance? = kCLDistanceFilterNone`

And later check:

[code]
This will always take the minimum distance of `kCLDistanceFilterNone`, regardless of what the user inputs, say 25 meters. Because it's initially set to none (-1) it will always be -1. Or do I misunderstand the function here?

When defining:
`var distanceFilter: CLLocationDistance? = 1000` it will

[2017-08-02 13:33] francesco-clementi-92 opened #148 "Region monitoring sometimes fail to intercept didEnterRegion or didExitRegion"
I am working on xcode 8.3.3 on a project written in Swift2.3.
I installed SwiftLocation (2.3 Branch) via Cocoapods in order to monitor region events (didEnter/didExit Region).

I had 3/4 region to monitor on average at the same time
I add them as it follows:
` do {
    let monitor = try Beacons.monitor(geographicRegion: epicenter, radius: 100, onStateDidChange: { (state) in
        state == .Enter

[2017-08-25 06:21] lastcc commented on #131
@malcommac I think there might be some spelling errors in the documentation:

As I am not a native speaker, the following suggestions might be incorrect:

1. "callback called once the device `did entered into` the region"
seems it should be `did enter into` or just `entered into`

2. "(input params include a `refere` to HeadingRequest and occurred Error)"

3. "`Second options is`: monitor(region:e

[2017-08-25 06:48] lastcc commented on #131
@malcommac Sorry I don't understand the following:

"as soon as the device crosses the region you will create another region from the current coordinates while entering and exiting from regions, did update location delegate gets called and you get the updated coordinate while application is in terminated mode."

Does it mean:
In the background task submitted to the operating system, I will create

[2017-08-30 22:15] alexandremorgado opened #149 "appAuthorization in monitorVisit: why not .both, instead .always?"
In VisitsRequest init, SwiftLocation does this guard:

[code]

But this guard shouldn't check also for **.both** status, once .both means always authorization is present?

[2017-09-03 13:54] horaciosolorio opened #150 "How to stop location continuos"
Can you help me please i need to stop location updates in viewDidDisappear, i run your example in view will appear but i what to stop when enter to viewDidDisappear.

Please help.

[2017-09-06 21:37] iThinker commented on #125
@localsDeveloper any luck? I am investigating issue with project that uses this pod. It looks like it should work fine. But for whatever reason it gets out location worse than GoogleMaps. I've tried setting all best parameters but no luck.

[2017-09-06 23:36] iThinker opened #151 "LastLocation bestAccurated is calculated wrongly"
```location.horizontalAccuracy > self.bestAccurated!.horizontalAccuracy```
is wrong comparison. The lower accuracy the better. Not vice versa.
```location.horizontalAccuracy < self.bestAccurated!.horizontalAccuracy``` is right code.
Sorry for not making PR. Do not have time at the moment.

[2017-09-07 15:47] nelsongc commented on #150
var locInstantce = Location.getLocation(...)
..
...
locInstantce.cancel()

[2017-09-09 20:15] iDeveloperCom opened #152 "Main Thread Checker: UI API called on a background thread: -[UIApplication applicationState]"
In the file LocationTracker.swift on line 931 the call
let isAppInBackground = (UIApplication.shared.applicationState == .background && CLLocationManager.isBackgroundUpdateEnabled)

should be in Main Thread.

Environment: iOS 11 Beta XCode Version 9.0 beta 6 (9M214v)

[2017-09-10 11:29] iDeveloperCom commented on #138
I am developing a tracker app, which has the .continuous mode if the app is in foreground and shown (viewDidAppear) and .significant mode if app is in background. Because the app starts always in foreground mode and the .continuous mode is the one for foreground I never been asked for "always"

I share the opinion of @NathanJang , you should not prohibit to ask "always" in continuous mode

[2017-09-22 07:48] lastcc opened #153 ".oneShot location received is a system cached location"
In my experience the first values you get from the location manager are bad. The very first location reading is often a cached reading from when the GPS was last "lit."

In many cases the first locations received from this lib or system location manager are a cached object. I hope there will be an enhancement  to give us a flag to filter out the cached value.

[2017-09-22 08:00] #153 closed, assigned to nobody

[2017-09-23 23:19] ravinleague opened #154 "No such module SwiftLocation - Xcode 9"
Hi,

I have an issue with using SwiftLocation Pod in my recently updated Xcode9. I get a No such module error....

I've added the SwiftLocation.framework also. but it appears 'disabled' in build settings.

Any know issues with Xcode 9?

[2017-09-26 14:43] evermeer opened #155 "Build error when used with Swift 4"

[2017-09-30 09:41] day1-suraj commented on #155
@malcommac When would receive the update for Swift4?

[2017-10-01 10:07] malcommac commented on #155
I'll rewrite it from the groundup; hope tu publish a first release in the second middle of October.

[2017-10-01 20:12] Billlyevans commented on #155
i need this to work with ios11

like really need this

please

[2017-10-02 05:36] malcommac commented on #155
In he meantime you can consider it https://github.com/intuit/LocationManager. It’s very similar.

[2017-10-02 14:02] francodriansetti commented on #155
In meantime I've found a **solution**: Just compile SwiftLocation in Swift 3.2 and other code in Swift 4

[2017-10-06 09:43] apascual commented on #143
I don't know why this is closed... I am experiencing the same issue, room & house accuracy levels always end up in timeout errors, even after long timeouts...

[2017-10-10 05:09] ravinleague opened #157 "Location deferring not working"
Hi,

I have used defer background updates in appdelegate.swift file. i have configured both time and distance. but defer does not work and still keeps updating continuosly

[2017-10-10 11:58] gregoryew opened #158 "error block not entered when user presses do not allow on the message about getting user location the first time"
I have the following code to use SwiftLocation
    func getZipCode() {

        Location.getLocation(accuracy: .city, frequency: .oneShot, success: { (_, location) in
            print("A new update of location is available: \(location)")
            Location.getPlacemark(forLocation: location, success: { placemarks in
                zipCode = placemarks.first!.postalCode!
                self.se

[2017-10-10 20:13] golovnya commented on #125
@localsDeveloper  Use accuracy `.any` to get user's current location.

[2017-10-16 22:11] samahyousif opened #159 "get location returns wrong value"
Location.getLocation(accuracy: .block, frequency: .oneShot, timeout: 1*60,...)
returns wrong result
any Idea about that??

[2017-10-17 10:43] suraj-shetty commented on #155
@malcommac There's a pull request from @hamzaansari09 titled **Swift 4 and Xcode 9 compatible** having the required fixes. Can you verify and merge this pull request?

[2017-10-18 04:47] SalAldana opened #160 "Getting background locations and oneShot locations"
I'm trying to get SwiftLocation setup in an existing project to replace the existing location methods but I'm having issues with both getting the background status setup and getting a oneShot location as well. In my AppDelegate I'm setting up the background task (although the isBackgroundRequest keeps coming back false) like this :
`self.backgroundRequest = Location.getLocation(accuracy: .any, fre

[2017-10-18 05:16] SalAldana commented on #160
Actually quick update, after tinkering around some more I was able to get the oneShot to work after pausing the background task, but I'm still not sure if the background task is actually running in the background. When I look at the LocationRequest source it looks like only deferred locations are capable of running in the background but the documentation says that significant frequency should be u

[2017-10-22 10:00] hamzaansari09 commented on #155
PR #156

[2017-10-24 21:38] samahyousif commented on #160
I've same problem

[2017-10-25 15:57] SalAldana commented on #160
@samahyousif which problem are you having? I was able to figure it out. You need to create a variable for both the background request and the one shot request and before calling the one shot the background task needs to be paused not canceled (Location.pause(self.backgroundRequest)) and then the one shot seems to work fine.

Also, the significant state does work in the background just the Location

[2017-10-25 16:00] SalAldana opened #161 "Location Monitor Pool?"
Is there a way to get the pool of locations that are being monitored when using Location.monitor? In our previous setup using just CoreLocation there are times where we needed to cycle through all the monitored regions in LocationManager.monitoredRegions so we can remove any duplicates or regions that are no longer within a certain radius of the users. Can't seem to find anything in the documentat

[2017-10-25 17:56] SalAldana commented on #159
When you say wrong result what exactly is wrong and how are you determining it's wrong? For example are you using the simulator and one of the built in locations for the simulator (like Apple's headquarters) or are you using an actual device?

[2017-10-29 09:50] malcommac commented on #161
Thank you for your contribution.
A new rewritten version is available both on master and CocoaPods (marked as 3.0.0-beta). It requires iOS9 and Swift 4.
If you encounter any other problem feel free to open an issue; I'll close because with the new version its now invalid.

Current version does not support region monitoring yet. It's planned for incoming 3.1 release. If you have questions or sugges

[2017-10-29 09:50] #161 closed, assigned to nobody

[2017-10-29 09:51] malcommac commented on #160
Thank you for your contribution.
A new rewritten version is available both on master and CocoaPods (marked as 3.0.0-beta). It requires iOS9 and Swift 4.
If you encounter any other problem feel free to open an issue; I'll close because with the new version its now invalid.

See the README for info about using significant location monitoring in background.
Thanks

[2017-10-29 09:51] #160 closed, assigned to nobody

[2017-10-29 09:51] malcommac commented on #159
Thank you for your contribution.
A new rewritten version is available both on master and CocoaPods (marked as 3.0.0-beta). It requires iOS9 and Swift 4.
If you encounter any other problem feel free to open an issue; I'll close because with the new version its now invalid.

[2017-10-29 09:51] #159 closed, assigned to nobody

[2017-10-29 09:51] malcommac commented on #158
Thank you for your contribution.
A new rewritten version is available both on master and CocoaPods (marked as 3.0.0-beta). It requires iOS9 and Swift 4.
If you encounter any other problem feel free to open an issue; I'll close because with the new version its now invalid.

[2017-10-29 09:51] #158 closed, assigned to nobody

[2017-10-29 09:52] malcommac commented on #157
There is a bug with deferred location in iOS.
I've removed temporary it from the new 3.x releases.
I'll restore it later when I'll have news about a pushed radar to apple.
thanks

[2017-10-29 09:52] #157 closed, assigned to nobody

[2017-10-29 09:52] malcommac commented on #155
A new rewritten version for Swift 4 is available on master.
thanks

[2017-10-29 09:52] #155 closed, assigned to nobody

[2017-10-29 09:52] malcommac commented on #154
Thank you for your contribution.
A new rewritten version is available both on master and CocoaPods (marked as 3.0.0-beta). It requires iOS9 and Swift 4.
If you encounter any other problem feel free to open an issue; I'll close because with the new version its now invalid.

[2017-10-29 09:52] #154 closed, assigned to nobody

[2017-10-29 09:52] malcommac commented on #152
Solved in 3.x branch.
Thanks

[2017-10-29 09:52] #152 closed, assigned to nobody

[2017-10-29 09:53] malcommac commented on #151
Thank you for your contribution.
A new rewritten version is available both on master and CocoaPods (marked as 3.0.0-beta). It requires iOS9 and Swift 4.
If you encounter any other problem feel free to open an issue; I'll close because with the new version its now invalid.

[2017-10-29 09:53] #151 closed, assigned to nobody

[2017-10-29 09:53] malcommac commented on #150
Thank you for your contribution.
A new rewritten version is available both on master and CocoaPods (marked as 3.0.0-beta). It requires iOS9 and Swift 4.
If you encounter any other problem feel free to open an issue; I'll close because with the new version its now invalid.

To stop a request use `stopRequest()` function of the `Locator` object

[2017-10-29 09:53] #150 closed, assigned to nobody

[2017-10-29 09:54] malcommac commented on #149
Thank you for your contribution.
A new rewritten version is available both on master and CocoaPods (marked as 3.0.0-beta). It requires iOS9 and Swift 4.
If you encounter any other problem feel free to open an issue; I'll close because with the new version its now invalid.

Visiting is not yet supported in 3.x branch. I'll restore it for 3.1.
If you have suggestions feel free to open a new issue

[2017-10-29 09:54] #149 closed, assigned to nobody

[2017-10-29 09:54] malcommac commented on #148
I'm sorry but Swift 2.3 is not supported anymore.

[2017-10-29 09:54] #148 closed, assigned to nobody

[2017-10-29 09:54] malcommac commented on #146
Thank you for your contribution.
A new rewritten version is available both on master and CocoaPods (marked as 3.0.0-beta). It requires iOS9 and Swift 4.
If you encounter any other problem feel free to open an issue; I'll close because with the new version its now invalid.

[2017-10-29 09:54] #146 closed, assigned to nobody

[2017-10-29 09:55] malcommac commented on #145
Thank you for your contribution.
A new rewritten version is available both on master and CocoaPods (marked as 3.0.0-beta). It requires iOS9 and Swift 4.
If you encounter any other problem feel free to open an issue; I'll close because with the new version its now invalid.

A background section is available on README file and describe how significant location monitoring works.

[2017-10-29 09:55] #145 closed, assigned to nobody

[2017-10-29 09:55] malcommac commented on #144
Thank you for your contribution.
A new rewritten version is available both on master and CocoaPods (marked as 3.0.0-beta). It requires iOS9 and Swift 4.
If you encounter any other problem feel free to open an issue; I'll close because with the new version its now invalid.

[2017-10-29 09:55] #144 closed, assigned to nobody

[2017-10-29 09:55] malcommac commented on #142
Thank you for your contribution.
A new rewritten version is available both on master and CocoaPods (marked as 3.0.0-beta). It requires iOS9 and Swift 4.
If you encounter any other problem feel free to open an issue; I'll close because with the new version its now invalid.

[2017-10-29 09:55] #142 closed, assigned to nobody

[2017-10-29 09:56] malcommac commented on #116
A new version is available on master and supports both reverse geocoding and place autocomplete.
Thanks.

[2017-10-29 09:56] #116 closed, assigned to nobody

[2017-10-29 09:56] malcommac commented on #141
Thank you for your contribution.
A new rewritten version is available both on master and CocoaPods (marked as 3.0.0-beta). It requires iOS9 and Swift 4.
If you encounter any other problem feel free to open an issue; I'll close because with the new version its now invalid.

[2017-10-29 09:56] #141 closed, assigned to nobody

[2017-10-29 09:56] malcommac commented on #140
Thank you for your contribution.
A new rewritten version is available both on master and CocoaPods (marked as 3.0.0-beta). It requires iOS9 and Swift 4.
If you encounter any other problem feel free to open an issue; I'll close because with the new version its now invalid.

Current status can be obtained by calling `CLLocationManager.authorizationStatus`

[2017-10-29 09:56] #140 closed, assigned to nobody

[2017-10-29 09:57] malcommac commented on #135
Thank you for your contribution.
A new rewritten version is available both on master and CocoaPods (marked as 3.0.0-beta). It requires iOS9 and Swift 4.
If you encounter any other problem feel free to open an issue; I'll close because with the new version its now invalid.

[2017-10-29 09:57] #135 closed, assigned to nobody

[2017-10-29 09:57] malcommac commented on #138
Thank you for your contribution.
A new rewritten version is available both on master and CocoaPods (marked as 3.0.0-beta). It requires iOS9 and Swift 4.
If you encounter any other problem feel free to open an issue; I'll close because with the new version its now invalid.

[2017-10-29 09:57] #138 closed, assigned to nobody

[2017-10-29 09:57] malcommac commented on #134
Thank you for your contribution.
A new rewritten version is available both on master and CocoaPods (marked as 3.0.0-beta). It requires iOS9 and Swift 4.
If you encounter any other problem feel free to open an issue; I'll close because with the new version its now invalid.

[2017-10-29 09:57] #134 closed, assigned to nobody

[2017-10-29 09:57] malcommac commented on #129
Thank you for your contribution.
A new rewritten version is available both on master and CocoaPods (marked as 3.0.0-beta). It requires iOS9 and Swift 4.
If you encounter any other problem feel free to open an issue; I'll close because with the new version its now invalid.

[2017-10-29 09:57] #129 closed, assigned to nobody

[2017-10-29 09:57] malcommac commented on #125
Thank you for your contribution.
A new rewritten version is available both on master and CocoaPods (marked as 3.0.0-beta). It requires iOS9 and Swift 4.
If you encounter any other problem feel free to open an issue; I'll close because with the new version its now invalid.

[2017-10-29 09:57] #125 closed, assigned to nobody

[2017-10-29 09:57] malcommac commented on #124
Thank you for your contribution.
A new rewritten version is available both on master and CocoaPods (marked as 3.0.0-beta). It requires iOS9 and Swift 4.
If you encounter any other problem feel free to open an issue; I'll close because with the new version its now invalid.

[2017-10-29 09:57] #124 closed, assigned to nobody

[2017-10-29 09:57] malcommac commented on #122
Thank you for your contribution.
A new rewritten version is available both on master and CocoaPods (marked as 3.0.0-beta). It requires iOS9 and Swift 4.
If you encounter any other problem feel free to open an issue; I'll close because with the new version its now invalid.

[2017-10-29 09:57] #122 closed, assigned to nobody

[2017-10-29 09:57] malcommac commented on #121
Thank you for your contribution.
A new rewritten version is available both on master and CocoaPods (marked as 3.0.0-beta). It requires iOS9 and Swift 4.
If you encounter any other problem feel free to open an issue; I'll close because with the new version its now invalid.

[2017-10-29 09:57] #121 closed, assigned to nobody

[2017-10-29 09:58] malcommac commented on #139
Thank you for your contribution.
A new rewritten version is available both on master and CocoaPods (marked as 3.0.0-beta). It requires iOS9 and Swift 4.
If you encounter any other problem feel free to open an issue; I'll close because with the new version its now invalid.

[2017-10-29 09:58] #139 closed, assigned to nobody

[2017-10-29 10:14] malcommac opened #162 "Support for region monitoring support (exit/enter)"
Support region monitoring in background and foreground.

[2017-10-29 17:04] SalAldana commented on #161
Thanks @malcommac for the response and updated library. Not to rush or sound ungrateful, but do you know when you may have 3.1 with the replacement for the 'Location.monitor(region:' in place? I had just got the whole background updates and location monitoring finished on Friday and now the monitor method is gone :( .

Really great library, I've been using this and SwiftDate on a couple projects n

[2017-10-29 17:40] malcommac commented on #161
Thank you very much, I'll try to work on it this week but I can't make any promise about that because I'm pretty busy with another project.
You can follow it here: https://github.com/malcommac/SwiftLocation/issues/162

[2017-10-29 17:42] malcommac opened #163 "Filter by distance/interval in continuous location update"
Add distance/interval filters when monitoring location updates continuously.

[2017-10-29 19:46] SalAldana commented on #161
No problem, I'll roll back for now just because the monitor part is important for the testing we are doing but will bookmark this to update when ready. Thanks again for everything.

[2017-10-31 07:58] markst commented on #102
perhaps the readme could be updated:
https://github.com/malcommac/SwiftLocation/#observe-authorization-status-changes

[2017-11-10 23:39] gavineadie opened #165 "do timeouts work?"
I'll admit I've taken only a very fast glance at this but, when my calls to `currentPosition` were given a timeout value, such as below, they always timed out immediately.

        locator.currentPosition(accuracy: .city, timeout: .delayed(30.0),
            onSuccess: {location in
                print("\(Date()) .. Location found: \(location)")
            },
            onFail: {err, last in

[2017-11-15 04:28] Daman1208 opened #166 "Can we find distance/miles travelled?"
Is there any method to find the distance travelled by the device while travelling

[2017-11-15 07:50] Faydee1220 opened #167 "completeLocationRequest has an option unwrap bug"
Because `r.location(var location: CLLocation?)` is optional, if use `r.success?(r.location!)` to force unwrap would cause crash.

[2017-11-15 15:17] a-v-ebrahimi opened #168 "Missing argument for parameter #1 in call"
When I try to build latest pod, I receive this error :

**Missing argument for parameter #1 in call**

LocationTracker.swift (line 564):

![image](https://user-images.githubusercontent.com/179375/32843613-6fbc69ea-ca35-11e7-800f-33b67be49034.png)

[2017-11-15 20:23] Strobocop commented on #168
@ControlAdad I noticed the same issue. Looks like there is a fixed version in this fork (https://github.com/hamzaansari09/SwiftLocation) that will at least temporarily work for you until there is a fix pulled into the main repo.

[2017-11-16 23:26] #165 closed, assigned to nobody

[2017-11-18 14:50] Eric0625 commented on #168
It's because of the syntax changing in Swift 4, so locate it in RegionRequest.swift(line 90) and change the declaration to:
`public var onStartMonitoring: (() -> (Void))? = nil`

[2017-11-18 21:08] Eric0625 opened #170 "Why I can not see the Locator variable?"
It's SwiftLocation (2.0.7) and I can't find the locator.swift in the pod files

[2017-11-18 21:11] Eric0625 commented on #170
![default](https://user-images.githubusercontent.com/18132007/32984783-06caa7e8-cce8-11e7-8117-627355071b19.PNG)

[2017-11-19 06:33] SalAldana commented on #170
Locator is part of the 3.0 re-write. If you are using the older version then download the source code here and use the README in the source code to get the correct syntax/instructions.

https://github.com/malcommac/SwiftLocation/releases/tag/2.0.7

[2017-11-20 12:28] Eric0625 commented on #170
Thx, I'm trying beta version now

[2017-11-20 19:36] jmeyers91 commented on #170
Does version 2.0.7 work if installed through CocoaPods? I have `pod 'SwiftLocation', '~> 2.0.7'` in my podfile and it appears to install successfully when I run `pod install`, but I'm still receiving `Use of unresolved identifier 'locator'` (with `import SwiftLocation` at the top of the file) after cleaning.

**Edit**: Never mind. I thought 2.0.7 was the new version because `pod 'SwiftLocation'` i

[2017-11-26 12:36] #170 closed, assigned to nobody

[2017-12-01 13:07] kamil-tomaszewski opened #171 "Request failed instantly when using timeout interval"
Hi,
I'm using the 3.0.1-beta release. After some time of usage, it seems that I get timeout immediately. Consider following block of code:

[code]

The printout on console is as follows:

[code]

Am I doing something wrong here? The location variable has a value, but the accuracy is as follows:
[code]

**EDIT**
Tested on iPhone 8 running iOS 11.1.2

[2017-12-02 12:29] nderkach opened #172 "Feature: requestAuthorizationIfNeeded should take you to settings if system authorization prompt has already been presented"
Here is how this could work when you call requestAuthorizationIfNeeded:

- If the system location authorization prompt has never been presented -> present the system prompt
- otherwise, open the URL at `UIApplicationOpenSettingsURLString`

This would save time implementing the boilerplate code for checking if `CLLocationManager.authorizationStatus() == .notDetermined`

[2017-12-02 13:13] nderkach opened #173 "Locator.events.listen closure is never called"
I'm using the code from the master branch, here is the sample:

[code]

Then if I try to change location authorisation in the settings, this closure is never called. Am I using it wrong?

[2017-12-03 15:12] imran87 opened #174 "Support for deferredLocationUpdates"
Not Working which really very very important thing in code.

[2017-12-03 20:37] ghost commented on #163
This feature was available in old version. I would soon need it to go live.
Could you give any prediction when it's going to be implemented?
And what about the activityTypes? It's also missing now.

[2017-12-04 10:37] radvansky-tomas opened #175 "Background thread"
Can somebody explain why I cannot run: Locator.currentPosition(accuracy: .house, timeout: nil, onSuccess: { (loc) -> (Void) in background thread ?

Or what is my option if I want to perform single one shot in background ?

Or if there is no such feature, how I can run: Locator.subscribePosition
With custom frequency and distance of last location (ie. custom significance)

[2017-12-05 08:23] ghost opened #176 "Expose authorizationStatus in Locator"
[code]

怎么没有封装系统的这个属性，是我没找到吗？如果有了就方便很多，不用每次 `import SwiftLocation` 同时 `import CoreLocation` 了。

[2017-12-05 09:38] ghost commented on #176
好像找到了，在请求回调的 Error 里面。

[2017-12-05 21:16] benvigier opened #177 "Probably doing something wrong, but cannot get it to work...?"
This framework seems awesome, but unfortunately I cannot get any of the examples provided in the documentation to build in my test app. Xcode does not find "Locator" nor most of the other variables and functions described. I even searched the swift files for some of the calls in the examples and could not find them.

My configuration:
Xcode 9.1
Swift 4
Successfully installed SwiftLocation via Coco

[2017-12-07 09:17] malcommac commented on #171
Thank you, just fixed in attached commit.

[2017-12-07 10:10] malcommac commented on #172
Hi,
Actually SwiftLocation ask the right level of authorization by reading the Info.plist keys.
See the `requestAuthorizationIfNeeded` function at https://github.com/malcommac/SwiftLocation/blob/f0cfe69cce74df8279e2606e6017b260f6fc77f2/Sources/Locator.swift#L513.
Did it not work for you?

The second part of your question: I cannot assume developer wanna go the Settings panel automatically (especia

[2017-12-07 10:12] malcommac commented on #173
Duplicate of this PR.
https://github.com/malcommac/SwiftLocation/pull/169

Thanks 👍

[2017-12-07 10:12] #173 closed, assigned to nobody

[2017-12-07 10:22] malcommac commented on #174
Is it working for you?

I've planned to implement it but it does not work since iOS 9; it simply return `false` everytime (`CLLocationManager.deferredLocationUpdatesAvailable()`).
See for example this:
http://openradar.appspot.com/radar?id=4927958787555328

If you are using it successfully I'm very interested in looking some example code and I'll be happy to integrate it in SwiftLocation.

[2017-12-07 10:41] malcommac commented on #175
There is a reason:

`
A location manager was created on a dispatch queue executing on a thread other than the main thread.  It is the developer's responsibility to ensure that there is a run loop running on the thread on which the location manager object is allocated.  In particular, creating location managers in arbitrary dispatch queues (not attached to the main queue) is not supported and will

[2017-12-07 10:46] malcommac commented on #176
Hi,
Just added `authorizationStatus` property in `Locator` so you can call directly `Locator. authorizationStatus` to get the current status of the authorization.

[2017-12-07 10:50] #167 closed, assigned to malcommac

[2017-12-07 10:52] #176 closed, assigned to malcommac

[2017-12-07 10:53] #175 closed, assigned to nobody

[2017-12-07 10:53] #172 closed, assigned to malcommac

[2017-12-07 10:53] #171 closed, assigned to malcommac

[2017-12-08 10:57] nderkach commented on #172
No, the first part works just fine, my suggestion for was the case when the user has previously rejected the location authorization prompt.

Why wouldn't you want to go to the settings panel automatically? Assuming you have a button which allows the user to enable location updates and implemented `requestAuthorizationIfNeeded` action for it. How would you handle the case when a user previously den

[2017-12-12 17:43] bmt22033 commented on #162
Is region monitoring still slated for 3.1.0?

[2017-12-13 11:16] imfeemily commented on #177
I think you forgot to set the version name in Pod file like this -> 'SwiftLocation', '~> 3.1.0'

Hope it might be helped you.

[2017-12-13 15:17] josselin-oudry opened #179 "currentPosition with .room or .house accuracy always timesout and location is nil"
Hi there,

Thanks for the great library. I've been using it for just an hour so I hope I'm doing something wrong...

Context: I'm testing inside a building and using the latest and greatest 3.1.0 version.

If I make such a call with accuracy set to .room or .house, the execution takes 60 seconds and then .onFail is called, which is fine, but then within .onFail, location is always nil.

        Sw

[2017-12-16 22:05] radvansky-tomas commented on #163
Any update on this ? Specially intervals for background task. For example to be able to setup, that location should be read every 20s

[2017-12-21 14:56] yodasl opened #180 "Question: how to clear Events.authorizationsStatus array"
First, thanks for open sourcing the framework. Really appreciate it.
Question: using the framework, I am registering my callback/block for status change with:
[code]
so far so good, and I am getting the proper callback when the status change... Now how do I stop listening for the event ? I don't see anyway to unregister my block.

[2017-12-30 23:05] ahalls opened #181 "Support Apps that only need "WhenInUse" authorization Level"
I think you have misunderstood the limitation imposed in iOS 11 in this area.  It is not that Always is required, it's that WhenInUse is required.   Apps can no longer offer Always as the only option. If the app developer wants to use background tracking (Always) they must also offer WhenInUse.

Kuba Suder's post [Changes to location tracking in iOS 11](https://mackuba.eu/2017/07/13/changes-to-loc

[2017-12-31 04:03] peter369 opened #182 "Ambiguous reference to member 'currentPosition(accuracy:timeout:onSuccess:onFail:)'"
I get error "Ambiguous reference to member 'currentPosition(accuracy:timeout:onSuccess:onFail:)' " when trying to use:

[code]

[2018-01-04 10:45] DrAma999 opened #185 "SwiftyJson image not found"
I've recently update the library using `Carthage`, now when I launch my application I receive this error:
[code]
It seems that there is a dependency not resolved while building the SwiftLocation framework.
Of course if I add it in my Carthage file everything works.

[2018-01-07 13:32] musbaalbaki commented on #179
I am facing the same issue

[2018-01-07 18:36] J7mbo commented on #181
Any idea if this will be merged any time soon?

[2018-01-16 20:24] dev4jam opened #187 "No response for location from address"
If I make a call:

[code]

then I don't receive a response. Probably because in GeocoderRequest class there is no handler call in block on line 215:

[code]

[2018-01-19 10:54] byroncoetsee opened #190 "CocoaPods not up to date"
Hey there :)

I don't think Cocopods is fetching the latest version of the repo... It's currently fetching files like `LocationTracker.swift` which are no longer in the most recent version. I'm looking for the `Locator.swift` file and it's not there :/

Did I do something wrong?

Thanks

[2018-01-19 11:09] byroncoetsee commented on #190
Fixed:

Had to run `pod install --repo-update` and include the pod version (3.1.0).

Cheers

[2018-01-19 11:09] #190 closed, assigned to nobody

[2018-01-20 15:24] Nerkyator opened #192 "Fixes for Place parser from Apple services. Unified shared properties terminology between services."
`houseNumber` is mapped with wrong infos: right now its value is mapped to `subAdministrativeArea` that actually is not a house number but an area\district

[2018-01-23 18:30] Lennartbrugger opened #193 "ISSUE: Ambiguous reference to member 'currentPosition'"
I'm using this few lines from the example of the readme file but I still get this Xcode error:

This is the error that occurred:
`Ambiguous reference to member 'currentPosition(accuracy:timeout:onSuccess:onFail:)'
`

This is the code I'm using:
[code]

How to fix this, any help would be very appreciated!

[2018-01-23 18:37] Lennartbrugger opened #194 "ISSUE: Library not loaded: @rpath/SwiftyJSON.framework"
I did't get error from Xcode - Yeah.
But tbh my application crashes every time before it could even start and this is the abortion-message I get:

[code]

How can this issue be fixed?
Help would be very appreciated!

[2018-01-25 08:39] jonasbark commented on #179
same here, although it only happens on iPhone 7

[2018-01-25 15:24] josselin-oudry commented on #179
My test was on an iPhone 6 with iOS11.

[2018-01-26 16:46] federicopolesello commented on #194
Hi @Lennartbrugger!
Did you solve the issue? It happens to me too!
I installed it via Carthage and imported like the other libraries.
Thanks

[2018-01-26 18:05] DrAma999 commented on #194
Just add SwiftyJSON in you cartfile and add the framework to your project.

[2018-01-26 18:12] #193 closed, assigned to nobody

[2018-01-26 18:14] Lennartbrugger commented on #194
@poledeveloper Yes. I fixed the issue 👍

You have to run following steps:

1. In the project navigator, select your project.
2. Select your target.
3. Select the "Build Phases" tab.
4. Open "Link Binaries With Libraries" expander.
5. Click the + button.
6. Select your framework.
7. Set Framework settings to "optional"

[2018-01-26 18:18] Lennartbrugger opened #195 "Thread 1: signal SIGABRT - Possible reason for crash?"
![img](https://user-images.githubusercontent.com/35659043/35454175-46d9851e-02cd-11e8-8333-1ee58b937d14.png)

I don't know what I am doing wrong. I have added the framework to my project and everything seems to work fine but running the application will crash my iOS device in every case.

Even if I just call `print(Locator.authorizationStatus)` I got a crash message named **Thread 1: signal SIGABR

[2018-01-26 20:31] federicopolesello commented on #185
+1

[2018-01-27 14:09] Lennartbrugger opened #196 "Question: How to use "timeout" parameter?"
[code]

How to insert the timeout parameter the right way?
Any help would be very appreciated.Thanks! :-)

[2018-01-29 15:06] federicopolesello commented on #194
@Lennartbrugger thanks but your solution doesn't work for me.
I resolved with @DrAma999 solution.

[2018-02-01 22:48] lfarah opened #197 "Add neighborhood"
It would be good to add a neighborhood parameter (```placemark.sublocality```) to the ```Place``` object.

[2018-02-21 10:06] bogdan-razvan commented on #196
This is the structure used for the timeout parameter:

[code]

You can basically do the following to timeout after 10 seconds

` Locator.currentPosition(accuracy: .block, timeout: .after(10), onSuccess: { (location) -> (Void) in })
`

[2018-02-23 21:33] seangeiger commented on #182
Changing the closure to something like this worked for me:

        SwiftLocation.Locator.currentPosition(accuracy: .city, timeout: nil, onSuccess: { location in
            print("Location found: \(location)")
            }) { (err, last) -> (Void) in
                print("Failed to get location: \(err)")
        }

[2018-03-02 08:28] bogdan-razvan opened #198 "Locator.currentPosition does not return, but CLLocationManager is able to determine the location changes"
It sometimes happens that `Locator.currentPosition(accuracy: .block, onSuccess: { (location) -> (Void) in ..... }` does not return the location, even if waiting for some minutes.

Firstly I thought it was a problem with my device, I've restarted it, reinstalled the app, disabled and enabled location services, but I couldn't get the location method to return. I've tried the same method call after a

[2018-03-05 22:44] marwan87 commented on #198
Im getting the same behaviour, if you go to apple maps or something it seems to then kick the app into action

[2018-03-07 10:37] bogdan-razvan commented on #198
@marwan87 going to apple maps didn't kick the app into action for me, thinking of replacing this pod.

[2018-03-09 09:18] marwan87 commented on #198
I ended up replacing it, and on continuous position seems to work

[2018-03-15 12:54] TizianoCoroneo commented on #187
+1

[2018-03-16 17:53] #196 closed, assigned to nobody

[2018-03-16 18:54] malcommac commented on #179
Cannot reproduce this bug. With this exact code it works; are you sure you are able to get this accuracy? (you are inside a building etc.).
Also try the new 3.2.0 update.

[2018-03-16 18:54] #179 closed, assigned to malcommac

[2018-03-16 18:55] malcommac commented on #180
Now you are able to remove a specific listener becuause the `listen()` function return a `TokenID` (an `UInt64`) you can use as parameter for `Locator.events.remove()` to remove your handler.
Thanks for reporting.

[2018-03-16 18:55] #180 closed, assigned to malcommac

[2018-03-16 18:56] malcommac commented on #181
Fixed in 3.2.0. Thanks for reporting.

[2018-03-16 18:56] #181 closed, assigned to malcommac

[2018-03-16 18:58] malcommac commented on #187
The problem is with memory managment; if not assigned to a strong variable request is not keeped alive from SwiftLocation and the entire object will be deallocated.
Since 3.2.0 as for location and heading requests, geocoder requests are keeped alive by the library itself and removed automatically once request is fulfilled or rejected.
Thanks for reporting.

[2018-03-16 18:58] #187 closed, assigned to malcommac

[2018-03-16 18:59] malcommac commented on #197
Since 3.2.0 I've added `neighborhood` and `formatAddress` both from Google and Apple's APIs.
Thanks for reporting.

[2018-03-16 18:59] #197 closed, assigned to malcommac

[2018-03-16 19:01] malcommac commented on #185
If you are using Carthage you also need to include SwiftyJSON in your Cartfile; this because Carthage does not support dependency support in libraries yet.

[code]

Added in documentation.

[2018-03-16 19:01] J7mbo commented on #181
Thanks a lot @malcommac!

[2018-03-16 19:01] #185 closed, assigned to malcommac

[2018-03-16 19:01] malcommac commented on #194
Thanks for report. I'll close it.

[2018-03-16 19:01] #194 closed, assigned to nobody

[2018-03-16 19:03] malcommac commented on #198
Are you sure you are not requesting too much accuracy for your position? (ie. inside a building).
If location accuracy cannot be achieved in the timeout interval requests will fail by returning the error and last retrived location.

[2018-03-16 19:17] #198 closed, assigned to malcommac

[2018-03-16 19:17] malcommac commented on #195
Can you say more about the crash? Stacktrace?

[2018-03-16 19:18] malcommac commented on #192
Can you made a PR or tell me the detail of the mapping?

[2018-03-16 19:19] #182 closed, assigned to nobody

[2018-03-16 19:19] #177 closed, assigned to nobody

[2018-03-16 19:20] malcommac commented on #168
Region monitor is currently not available anymore.
I'll plan to add it again with a new rewritten version on 3.5 branch.

[2018-03-16 19:20] #168 closed, assigned to nobody

[2018-03-16 19:20] malcommac commented on #166
Is out of the purpose of the library. You may need to make continuous background monitoring and do your stuff.

[2018-03-16 19:20] #166 closed, assigned to nobody

[2018-03-16 21:52] ekimia opened #200 "3.2.0 refuses to build with Carthage"
[code]

[2018-03-19 10:37] Nerkyator commented on #192
Sure!
Here are mapping details:
Lat: 45.383456971377598
Lon: 10.4940416764875

I attach a debug object screenshot too just to be clear
<img width="356" alt="schermata 2018-03-19 alle 11 34 39" src="https://user-images.githubusercontent.com/4661466/37590829-c130cb50-2b69-11e8-9f3d-d9ac8e4aaedb.png">

[2018-03-19 20:49] malcommac commented on #192
Ok reading [documentation](https://developer.apple.com/library/mac/Documentation/CoreLocation/Reference/CLPlacemark_class/index.html#//apple_ref/occ/instp/CLPlacemark/thoroughfare) the best result is ` subThoroughfare`:

As for name, that's simply the name that the system has for the placemark. For some places, it will just be the address; in fact for your location it return `nil`.
Fixed.

## Furt

[2018-03-19 20:51] #192 closed, assigned to malcommac

[2018-03-19 20:56] malcommac commented on #200
Can you try with 3.2.1?

[2018-03-21 21:38] jonw2000 commented on #200
Hi, I have the same problem and it fails for 3.2.1.

[code]
The only version that works is 3.0.1-beta.

However, although that version builds it seems I hit a bug, since when I call

[code]
it always times out and enters the onFail closure.

Any advice would be appreciated, many thanks!

[2018-03-23 11:21] lm2s opened #201 "Deadlock on iPhone 5c"
[code]

This deadlock only seems to happen on iPhone 5c (32bit). Any idea of what can be going on?

[2018-03-23 14:20] lm2s commented on #201
I've just submitted a PR with a possible fix for this issue (https://github.com/malcommac/SwiftLocation/pull/202)

[2018-03-28 06:22] ghost opened #203 "GeocoderRequest cancel() function is now accessible"
[code]
alert：
`'cancel' is inaccessible due to 'internal' protection level`

[2018-03-28 06:22] ghost commented on #203
3.2.1 version

[2018-03-28 10:59] MiMo42 commented on #201
Same on iPhone 5 here.
PR fixed it.

[2018-03-28 18:12] lfarah commented on #197
Thank you so much @malcommac!

[2018-03-28 21:00] #201 closed, assigned to nobody

[2018-03-29 02:44] blueangel0723 commented on #200
I have the same problem with the latest version. So I'm using 3.1.0 instead of latest version.

[2018-03-29 15:23] #203 closed, assigned to nobody

[2018-03-30 13:46] jyounus opened #205 "Remove SwiftyJSON dependancy from 3.x branch"
Hey there,

It would be great if SwiftyJSON could be an optional dependancy for SwiftLocation.

As far as I can tell, SwiftyJSON is used mainly for IP look ups and geocoding, in other words only if you use any of the thirdparty services to obtain location information.

I just need to simply fetch the user's current location, so I don't need the additional functionality (for any of the thirdparty r

[2018-04-03 17:17] chrismcs commented on #200
Having the same issue here...I even tried to do a pod update first (since the error it's giving is about the pod file) and the carthage build still fails after that

[2018-04-10 10:42] iad24 opened #207 "Manual Request in v2.0.7"
Is it possible to do manual request of authorisation in v2.0.7?
Like this:
Locator.requestAuthorizationIfNeeded(.always)

[2018-04-11 05:26] iad24 opened #208 "[Build Error] Cannot load underlying module for 'SwiftyJSON'"
1. I downloaded everything as zip
2. Go to folder in terminal, run 'pod install'
3. Open the workspace
4. Clean
5. Build

![screen shot 2018-04-11 at 1 23 01 pm](https://user-images.githubusercontent.com/15226261/38597704-d281de1a-3d8b-11e8-8c4c-677cf5953554.png)

[2018-04-17 12:08] mapo80 commented on #200
Any news?

[2018-04-17 13:33] mapo80 commented on #205
+1

[2018-04-20 07:54] hixfield commented on #200
Same issue here, any update??

[2018-04-22 14:47] HongChow commented on #208
the same as mine

[2018-04-24 20:41] ekimia opened #211 "Add mock support for unit tests using SwiftLocation"

[2018-05-12 18:08] ghost commented on #208
Same here! What do we do?

[2018-05-21 15:26] pmarrufo commented on #198
I'm having the same issue. I have tried .city of accuracy or .any. And the app gets stuck

[2018-05-22 23:54] ShadyElyaski opened #212 "subAdministrativeArea is being overwritten to subThoroughfare"
In the code I noticed the following lines

Note that subAdministrativeArea is being overwritten to subThoroughfare and not  p.subAdministrativeArea

[2018-05-23 09:11] himanthmaddi opened #214 "Stop a current position request (LocationRequest)"
I have subscribed for significant location updates even in background. Now if I want to stop updating locations at particular scenarios like after user has signed off, how can I do that by using **SwiftLocation**

[2018-05-27 10:26] eitanaviv commented on #205
+1

[2018-05-31 11:05] bogdan-razvan opened #215 "Massive bug: pod checks the info.plist file for wrong permission key when requesting "when-in-use" location access in iOS11"
SwiftLocation checks the info.plist file for the `NSLocationAlwaysAndWhenInUseUsageDescription` key when requesting `whenInUse` permission. It fails all the time, because the app's `info.plist` should not contain that kind of key in its `info.plist` for requesting `whenInUse` authorization, instead `NSLocationWhenInUseUsageDescription` should be searched for.

This all happens inside the "Shared"

[2018-06-03 19:24] alkanyunus commented on #198
Me too. I'was thinking my server cannot respond, but I did deep debugging and I found this problem.

Do you think this works? So I'll change my currentPosition method with this!

[2018-06-11 17:37] islamnurdin commented on #208
Did you find something?

[2018-06-17 15:15] captainOfM opened #216 "problem xcode10 swift 4.2 build on carthage"

[2018-06-20 03:13] sindunarasimhan opened #217 "subscribePosition not retriggered when internet connection goes down temporarily"
I am using Locator.subscribePosition to track location updates in my app. This works great even in background, however it does not seem to be able to recover when the network is spotty / temporarily unavailable.

I tested this by using this sample application and tracking logs in Sentry. The way to reproduce the issue is by backgrounding the app, turning off network, wait for a few seconds and tur

[2018-06-20 10:03] srashtiagrawalmona opened #218 "Location is always returning negative speed."
I'm using SwiftLocation, speed and course is always -1.I try with mobile data and wifi on/off modes in iPhone 6 device.Any solution for the same?

[2018-06-22 19:44] soyjimmysaenz commented on #205
+1

[2018-06-25 08:24] Isuru-Nanayakkara opened #219 "No such module 'SwiftyJSON'"
Hi,

I cloned the latest source of the library and ran `pod install`. But when I try to run the Test application I get the compile error **No such module 'SwiftyJSON'**. I also get the below warning on Xcode.

I'm using Xcode 9.4 and CocoaPods v1.4.0.

[2018-06-27 08:22] torok-zoltan opened #220 "Exposed showsBackgroundLocationIndicator (iOS 11 only)"
Hello

In iOS 11 the Location Manager received a new flag, showsBackgroundLocationIndicator:
"This property affects only apps that received always authorization. When such an app moves to the background, the system uses this property to determine whether to change the status bar appearance to indicate that location services are in use. Displaying a modified status bar gives the user a quick way to

[2018-06-28 23:12] JoseSanchezMirandaRos commented on #219
Same here...

[2018-07-02 20:13] LittlePhoenix8 opened #221 "SwiftyJSON 4.1.0"
Hi!

I'm using the latest version of SwiftyJSON on my project and when I try to add SwiftLocation pod I got this error:

`[!] CocoaPods could not find compatible versions for pod "SwiftyJSON":
  In snapshot (Podfile.lock):
    SwiftyJSON (= 4.1.0)

  In Podfile:
    SwiftLocation (~> 3.2.3) was resolved to 3.2.3, which depends on
      SwiftyJSON (~> 4.0.0-alpha.1)

    SwiftyJSON`

I changed my p

[2018-07-04 17:38] kidsid-Ixigo opened #222 "Query Regrading Background Mode?"
In your readme its written as follows:
"Please note: when the app terminates, all of your active location requests and subscriptions with SwiftLocation are canceled automatically. Therefore, when the app launches due to a significant location change, you should immediately use SwiftLocation to set up a new subscription for significant location changes in order to receive the location information."

[2018-07-04 18:22] #222 closed, assigned to nobody

[2018-07-30 06:00] jigar007 commented on #219
same here

[2018-07-31 13:44] basmaamahmoud commented on #214
you use locationManager.startUpdatingLocation() to start updating location and use locationManager.stopUpdatingLocation() to stop updating location

**THIS IS NOT THE RIGHT WAY. CHECKOUT THE POST BELOW**

[2018-08-02 19:46] Dbigshooter opened #224 "Fixed documentation for currentPosition() method"
I get the following:

`Ambiguous reference to member 'currentPosition(accuracy:timeout:onSuccess:onFail:)'`

When trying to compile, from the documentation:

[code]

Any idea why?

[2018-08-05 02:43] robbiemu commented on #224
I just started looking at this lib but I found this works:
[code]
that seems .. to only work in a viewcontroller, not the AppDelegate file like in the README.

Be sure you have permissions turned on. Here's the plist entries that I needed for siwft 4.1:
[code]

[2018-08-14 13:03] moderateepheezy opened #226 "autocompletePlaces doesn't get call"
Thanks for this wonderful library.
Autocomplete doesn't get called, it returns neither error or success

[2018-08-14 21:24] pbeneteau opened #227 "Required accuracy/time stale levels for room/house were adjusted"
Hi,

I can't get the current position because the pod doesn't work with accuracy city and room. Here is my simple code:

[code]

It doesn't work: nothing happens, and no error returned. Even after 5min.

[2018-08-22 01:23] dev4jam opened #229 "Fixed an issue which prevents reporting the last found location when a location discovery fails due to timeout"
If location discovery fails by timeout the handler doesn't receive the last available location. I see in the code that this happens because it doesn't satisfy accuracy constraint. But in error handler, it might be useful to provide the last discovered location.

[2018-08-24 05:58] grehce commented on #208
Build the project again. Seems to be an xcode bug.
https://stackoverflow.com/questions/32673866/cocoapods-cannot-load-underlying-module-for-x

[2018-08-29 06:13] OlivierVoyer opened #231 "Fixed an issue which disable previously registered event when subscribing a new one into Locator.events"
I found a bug in the code about the authorisation level listeners.
See the following scenario:

[code]

The issue is coming from the following code :

[code]

I hope that you can integrate this change in the next release.

Thanks for sharing your library.

Regards

[2018-09-04 13:05] pingusNikalex opened #232 "Fixed error while subscribing heading updates (authorization + minimum accuracy filter)"
I will try to use

[code]
But always has error: `Failed with error: invalid`

[2018-09-05 03:00] GalaevAlexey opened #233 "Update SwiftJSON Dependency"
[code]

[2018-09-09 14:32] malcommac commented on #232
Thank you for your report.
I've fixed two different issues:

- The first one happens the first time you attempt to launch the subscription and prevent the correct request for authorization to the end user.
- The second one filter all results from heading service due to a wrong statement.

It will be part of the 3.3.0 release.

[2018-09-09 14:37] malcommac commented on #231
Thank you for your help; I've added it to the develop branch ready for 3.3.0.

[2018-09-09 14:40] malcommac commented on #229
Absolutely true, I've integrated your change in develop branch, ready for 3.3.0. Thank you for your help.

[2018-09-09 15:02] malcommac commented on #227
Hi, there is not any bug, for `room` level the level of accuracy must be 5 meters which is too high probability (you must be outside a building for sure). However I've made an adjustment by relaxing both the constraints to `10 meters` for `room` and `15 meters` for `house`.

[2018-09-09 15:30] malcommac commented on #224
Fixed doc.
The right method call is:

[code]

Thanks

[2018-09-09 15:34] malcommac commented on #220
Exposed `Locator. showsBackgroundLocationIndicator` (iOS 11).
Thanks.

[2018-09-09 15:38] malcommac commented on #214
When you register a new request using `currentPosition()` call you receive the request (an instance of `LocationRequest`). You can keep a reference to it and use `stop()` function to remove it from the queue.

locationManager's `stopUpdatingLocation()` and `startUpdatingLocation()` should be not used because SwiftLocation manage itself from the inside by stopping/resuming the system location manag

[2018-09-09 15:45] malcommac commented on #215
Fixed in 3.x branch. Thanks

[2018-09-09 15:45] #215 closed, assigned to nobody

[2018-09-09 15:48] malcommac opened #234 "Fixed flatMap deprecation in Swift 4.1"
Fixed.

[code]

[2018-09-10 08:38] #174 closed, assigned to malcommac

[2018-09-10 08:38] #195 closed, assigned to nobody

[2018-09-10 09:50] anirudhamahale commented on #198
You can use the `currentPosition(accuracy:timeout:onSuccess:onFail:)` function.

[2018-09-10 10:39] malcommac opened #235 "Support for ipStack (replacing freeGeoIP)"
FreeGeoIP became IPStack and require a free (at minimum) API key setup.
More info can be [found here](
https://github.com/apilayer/freegeoip#required-changes-to-legacy-integrations-freegeoipnetjsonxmll).
We should support it and remove the old `.freeGeoIP` enum.

[2018-09-10 12:59] malcommac opened #236 "Autocomplete request's reference is not strongly retained"
Autocompletes request is not strongly retained during the call and if user from outside the lib does not keep it alive requests itself "disappear".
We should add a strong reference inside the requests list as like happens for other requests.

[2018-09-10 12:59] malcommac opened #237 "Better error reporting for autocomplete and Google API error"
Currently the json response from google api in case of error (`error_message`) is not read and the request fails with a generic error. We should read and  use it.

[2018-09-11 08:09] denis631 commented on #219
Same here

[2018-09-11 08:14] malcommac commented on #219
I'm working to remove SwiftyJSON. Follow #205

[2018-09-11 08:14] #219 closed, assigned to nobody

[2018-09-11 08:14] malcommac commented on #221
I'm working to remove this dependancy.
Follow #205

[2018-09-11 08:14] #221 closed, assigned to nobody

[2018-09-11 13:40] malcommac commented on #233
SwiftyJSON will be removed as dep. since 3.3.0
See #205

[2018-09-11 13:41] #233 closed, assigned to nobody

[2018-09-12 16:06] josselin-oudry commented on #179
Thanks a lot for your reply. I'm on the latest version of SwiftLocation.

I'm actually still experiencing the behaviour described in the initial post. Indeed I'm inside a building and I understand that it's quite difficult for the Location Manager to retrieve such an accuracy as .room or .house, but I still expected the cllocation, in the fail block, not to be nil and have a value of whatever hori

[2018-09-17 08:00] obianachebe commented on #236
@malcommac have you found a workaround for this? When I call `Locator.autoCompletePlaces` in my viewController my success and failure callbacks never get called. The cause seems to be because `onReceiveResponse` never gets called in `JSONOperation` because `self` is nil

[2018-09-21 12:57] colorscale commented on #163
Need it too. Is there any possibility to timeout the continuous location update? Best wishes.

[2018-09-26 19:15] laferil commented on #200
Same here. This is the only thing I could get to fix the issue for now. Definitely not ideal.

[2018-09-29 12:48] raelg commented on #235
Any chance of merging this to master soon, and releasing to CocoaPods? 🙏

[2018-10-19 18:53] hardikdevios opened #239 "How to set the distanceFilter"
As `Locator` class uses the Shared `CLLocationManager` but the manager is internal so can't change the `distanceFilter`, So any suggestion?

[2018-11-05 16:27] GhaisB commented on #163
Same here, it would be great to have this implemented !
Best wishes !

[2018-11-08 13:49] juanjues19 opened #241 "IOS - Error while updating location The operation couldn’t be completed. (kCLErrorDomain error 0.)"
hellou.

good moorning.
nice day.

when the phone IOS is locked, it is not possible to paint and obtain the ubication, the application show this error:
Error while updating location The operation couldn’t be completed. (kCLErrorDomain error 0.)

------ plugins and version ios

<engine name="ios" spec="^4.5.2" />
    <plugin name="Accelerometer" />
    <plugin name="cordova-background-geolocation-l

[2018-11-08 13:58] juanjues19 commented on #241
<engine name="ios" spec="^4.5.2" />
    <plugin name="Accelerometer" />
    <plugin name="cordova-background-geolocation-lt" spec="^2.13.2">
        <variable name="BACKGROUND_MODE_LOCATION" value="&lt;string&gt;location&lt;/string&gt;" />
        <variable name="LOCATION_ALWAYS_AND_WHEN_IN_USE_USAGE_DESCRIPTION" value="Always use is required for constant background location-tracking" />
        <

[2018-11-08 14:01] juanjues19 commented on #241
engine name="ios" spec="^4.5.2" />
    plugin name="Accelerometer" />
    plugin name="cordova-background-geolocation-lt" spec="^2.13.2">
    variable name="BACKGROUND_MODE_LOCATION" value="&lt;string&gt;location&lt;/string&gt;" />
    variable name="LOCATION_ALWAYS_AND_WHEN_IN_USE_USAGE_DESCRIPTION" value="Always use is required for constant background location-tracking" />
    variable name="LOC

[2018-11-12 22:08] laferil commented on #216
Not very helpful without details.

[2018-11-29 11:35] hactar opened #242 "allowsBackgroundLocationUpdates always set to true"
Check out:

https://github.com/malcommac/SwiftLocation/blob/95f740921f41bc254df756c3759df802e8827e85/Sources/Locator.swift#L147

The value always get set to "true" if called, instead of "newValue". Is this intentional or a bug?

[2018-12-10 11:14] zenghaojim33 commented on #198
Similar problem here, using `.block` accuracy works well (still there is at least 100m away from the real location) but using `.house` and  `room` never get successful response. Meanwhile `mapView.showsUserLocation` works perfectly.  Anyone know how to solve this?

[2018-12-12 06:06] torok-zoltan opened #243 "Automatically pausing location updates in background"
There is an issue after a while in the background the OS might pause the location updates. This is a feature of the location manager controlled by pausesLocationUpdatesAutomatically. By default this is true. Is there a way to turn this off or could you expose this setting to the locator?

https://developer.apple.com/documentation/corelocation/cllocationmanager/1620553-pauseslocationupdatesautomati

[2019-01-10 07:56] umwelt commented on #217
Did you have a chance to evaluate this? If you point me to some direction I can take a look at it

[2019-01-17 16:09] wpompeigaiago commented on #205
Hi @malcommac :  I'd like to know about the 3.3.0 release time (as we're interested in removing the SwiftyJSON alpha dependencies).

Thanks!
William Pompei

[2019-01-17 22:22] fahlout commented on #234
Is this ever going to get pushed out to a release version seeing as its been 4 months and I really dislike seeing unnecessary warnings in my apps?

[2019-01-29 11:55] wolfAle opened #246 "Is this still maintained?"
Hi,

is this repos still maintained?
I can see a few issues open and a few PRs waiting for merge, last commits were on March.
I hope to see a positive answer. :-)

Thanks,
Alessandro

[2019-02-05 06:05] bhanushalilinesh opened #247 "Switch must be exhaustive in Frequency.swift class"
After installing the pods getting the below error in following files

Switch must be exhaustive in Frequency.swift class

`import Foundation
import MapKit
import CoreLocation

// MARK: - Extension to CLActivityType

extension CLActivityType: CustomStringConvertible {

	public var description: String {
		switch self {
		case .automotiveNavigation:	return "Automotive Navigation"
		case .fitness:

[2019-02-08 12:27] yogendragirase55 opened #248 "Getting continous updates with fixed min time intervals/min distance"
Hi Team

I need to get continue location for every 5 min and change 100 meter around last location.

So how can I get continue location every 5 min. please help me which method I can use and set timer 5 min.

[2019-02-13 00:46] jaddoescad commented on #226
same issue here

[2019-02-19 17:17] klische commented on #246
I think it's safe to assume that it is abandoned, as this comment has not received a reply in a month. And it's been 11 months since the last commit.

[2019-02-20 09:07] wolfAle commented on #246
Yeah, I got to the same conclusion. It's a pity tho, the library it's quite useful but it's lacking a few things that would really help (and I think there are PRs for these).
I'm considering to fork it..

[2019-02-21 07:20] malcommac commented on #246
Hi, library was not abandoned. I plan to make some heavy interventions like removing the SwiftyJSON dependency (for Codable) but at this time I need to follow two other big updates. I plan to come back here later at the end of March but in meantime if you want to propose PRs I will be more than happy to discuss it.

[2019-02-21 08:11] wolfAle commented on #246
Ah, I'm glad to hear that :-)
There are a few PRs awaiting for review that would be good to have merged, and I'll come up with another one that I think would add some value.

Thanks!

[2019-02-21 08:11] #246 closed, assigned to nobody

[2019-03-06 15:16] T-Coded commented on #247
Running into the same problem

Edit: @bhanushalilinesh I updated the pod to the latest release and it's building fine for me now

[2019-03-06 16:06] fahlout commented on #234
Any update on this or has this library been abandoned?

[2019-03-07 14:24] IMDGhanshyam opened #249 "Does not stop location subscription"
[code]

Output:

[code]

[2019-03-19 09:36] OlivierVoyer commented on #243
Suggestion in Locator.swift

[code]

[2019-03-21 08:18] OlivierVoyer commented on #235
It would be great to update the README file with the required ATS setup too. Thanks

[2019-03-27 09:48] OlivierVoyer commented on #249
I found the issue.
The request removal function is not called so the full request list is not checked again to see if we can stop completely the location updates. Please see my fix in LocationRequest.swift

	private func stopLocationRequest(_ request: LocationRequest?) -> Bool {
		guard let r = request else { return false }

		if r.isRecurring { // Recurring requests can only be canceled
			r.time

[2019-04-05 03:57] IceFloe opened #250 "Swift 5 support?"
Hi, will you add swift 5 support and remove all those warnings?

[2019-04-12 08:32] VitaliyZaharenko opened #252 "Nominatim (OpenStreet) city/city_district parsing of Place object"
When parsing a response from openstreetmap geocoder nominatim in a function
`private func parseResultPlace(_ json: JSON) -> Place`
the library is trying to access a fields `"address" -> "city",  "address" -> "city_district"` that do not exist.

Example request URL:
`https://nominatim.openstreetmap.org/reverse?format=json&lat=55.766403&lon=37.584307&addressdetails=1&limit=1`

Example response JSON:

[2019-04-18 21:10] fahlout commented on #250
+1

[2019-04-20 10:14] malcommac commented on #250
I'm working on 4.0.0. See the 4.0.0 branch; it should ready in two weeks.
https://github.com/malcommac/SwiftLocation/tree/release/4.0.0

[2019-04-24 10:11] malcommac commented on #250
SwiftLocation 4.0.0 was just released on master branch. Thanks for the patience.

[2019-04-24 10:11] #250 closed, assigned to nobody

[2019-04-26 02:04] martheli opened #253 "Accuracy with WiFi capable only device"
Does this framework only support continuous location tracking via GPS now? The previous version allowed you to subscribe to get continuous coordinates on a wi-fi only device. It seems like the only options now are locateFromGPS() or locateFromIP. If I try to use the locateFromGPS() function on a wi-fi only device, nothing happens...I don't even get an error unless I turn the accuracy down to neigh

[2019-04-26 20:52] jeden opened #254 "Authorization not asked in case of `.significant` subscription"
If I call `locateFromGPS()` with `.significant` subscription, it doesn't ask for authorization, whereas in the case of `.continous` and `.oneShot` it does.

It looks like a bug, I can fix it myself, but before trying, I'd like to know if that's the intended behavior.

[2019-04-27 07:44] malcommac commented on #254
I think it’s actually a bug. You can make a PR, I’ll review it next Tue when I’ll back to office. Thanks!

[2019-04-30 07:50] malcommac commented on #254
Fixed in 4.0.1

[2019-05-05 21:34] jeden commented on #254
Sorry been with my head elsewhere in the latest days, and I couldn't work
on it, but I'm glad you fixed it so quickly.

Grazie 1000
Antonio

On Tue, Apr 30, 2019 at 9:50 AM Daniele Margutti <notifications@github.com>
wrote:

[2019-05-06 09:49] alexanderkorus opened #256 "[4.0.1] lastAbsoluteLocation in request closure"
I'm implementing now version 4.0.1 and replacing the old one.
Now there is a field in the locationRequest named "lastAbsoluteLocation". I want to access this last location, when my locationRequest failed (for example because of a timeout). The problem is, I can't access it in the request closure, only over the locationRequest itself.
Is it possible to add this lastLocation to the ErrorReason

[cod

[2019-05-08 18:29] ShadyElyaski opened #257 "[4.0.1] Publicize completeAllLocationRequest method in LocationManager"
I'm upgrading to 4.0.1, it would be great to make `completeAllLocationRequest` method public.
This will allow callers who create location requests be sure that there's no outstanding requests before creating a new one.
Also this will mimic the old method

[2019-05-12 08:33] malcommac commented on #257
Method is now public again since 4.0.2. Thanks.

[2019-05-12 08:47] malcommac commented on #256
Due to the the structure of the `Result` type in swift we cannot pass the instance of the request as error; we could pass it along with one of the available error enums but this mean we need to have different sets of the errors for each type of request which is not best solution.

Since 4.0.2 `LocationRequest` produces a new error when timeout is reached without a valid location received; this is

[2019-05-12 08:51] #257 closed, assigned to malcommac

[2019-05-12 08:52] #256 closed, assigned to malcommac

[2019-05-12 08:54] #254 closed, assigned to nobody

[2019-05-13 19:32] ShadyElyaski commented on #257
Thanks for the quick turnaround @malcommac

[2019-05-16 21:29] miquellaboria opened #259 "Continous subscription doesn't work"
I can't obtain location changes on continous subscription:

`self.locationRequest = LocationManager.shared.locateFromGPS(.continous,
                                                                        accuracy: .room,
                                                                        distance: 0.5,
                                                                        activity: .fitness)

[2019-05-17 07:54] #259 closed, assigned to nobody

[2019-05-22 09:58] saroar commented on #250
did you use it and check it?

http://prntscr.com/nrt69h
after
[code]

[2019-05-27 15:51] Teglgaard opened #260 "Getting oneshot location in background and keeping .significant subscription"
Hi I am trying to get a one shot location every 30 second while allowed after a significant location change in background.

I subscribe with LocationManager.shared.locateFromGPS(.significant, accuracy : .any)
and get many locations per second when the subscription is on. I want it to only deliver a oneshot location but still get the app to open every time there is a significant change.

I have bee

[2019-06-05 05:37] arsonik opened #261 "SPM: Swift Package Manager compatibility with Xcode 11"
<img width="742" alt="image" src="https://user-images.githubusercontent.com/1333734/58932598-a4a0ed00-8764-11e9-93a1-c4bfa7590bab.png">

Source files for target SwiftLocation should be located under 'Sources/SwiftLocation', or a custom sources path can be set with the 'path' property in Package.swift

[2019-06-28 02:37] twelvedremers opened #262 "addressDictionary not available in the result in the locateFromCoordinates method using google"
Hi, one weird thing I saw in the latest version of the library, was that in the place model that brings the `findFromCoordinates()` response, it was not bringing the original json when using the Google service, only the data already processed, this is a problem in case you need the place_id, looking at the code you see that the addressDictionary field is only initialized when using the apple servi

[2019-07-25 19:47] joshuarcher commented on #261
+1

[2019-08-06 07:14] erpankajpatel opened #263 "'GeocoderRequest.Options' initializer is inaccessible due to 'internal' protection level"
![Screenshot 2019-08-06 at 12 40 20 PM](https://user-images.githubusercontent.com/50038197/62518574-854b3c80-b847-11e9-8276-83d66892753d.png)
here I am not able to access 'GeocoderRequest.Options', I had added a core location framework and all, it's not working with the latest version. I had the same as like given example.
Please help me with this.

[2019-08-12 13:53] goalguy10 opened #264 "locateFromGPS .oneShot always timesout"
I am attempting to get the users current location using locateFromGPS(.oneShot, accuracy: .room) but it always times out and returns lastLocation which ends up being the current location. Is this normal behavior or an issue?

[2019-08-13 05:22] SergejLogis commented on #264
We are experiencing a similar issue since the last update - for _some_ devices, location resolving (block accuracty, 30 seconds timeout) always timeouts. But for some, it works just fine (at the very same place with the very same app build) 🤔Any ideas?

[2019-08-16 03:17] syedrazackimran commented on #263
<img width="1956" alt="Screen Shot 2019-08-16 at 10 16 03 AM" src="https://user-images.githubusercontent.com/15051045/63141160-e379db80-c00e-11e9-8a6b-0a056b812635.png">

@erpankajpatel

I'm also getting the same error, I follow as per demo. Kindly do needfully

[2019-08-16 04:05] erpankajpatel commented on #263
I have resolved this by my self with an edit in pods

[code]

Go to Pods -> SwiftLocation -> Geocoder+Support.swift -> find class name "class Options "
i have added only in existing code, public init() {}, you can directly paste my code as well, clear derived data and build and reopen your project, then it will resolve your problem.
let me if it will be resolved or not.

[2019-09-14 14:32] malcommac commented on #264
I think it's related to the GPS module. Did you try using classic `CLLocationManager`? Consider `room` is 5meters within the last 5 seconds. It's a very short, high accuracy value (I start thinking its too strict to be satisfied in that amount of time).

[2019-09-14 14:57] malcommac commented on #262
Now identifier of the place is parsed in `identifier` property when available.
You can still access to the raw JSON parsed from thirdy party services via `rawData` property of the single `Place` instance.

[2019-09-14 15:01] malcommac commented on #261
Fixed. Thanks.

[2019-09-14 15:21] malcommac commented on #252
I've tried to get lookup data from `osm_id`:

`https://nominatim.openstreetmap.org/reverse?format=json&osm_type=R&osm_id=3834185&addressdetails=1&extratags=1`

but I didn't get any extra data, in fact it's the same place in `address`:

[code]

I've also tried with Rome:

`https://nominatim.openstreetmap.org/reverse?format=json&lat=41.931725&lon=12.517384&addressdetails=1&limit=1`

And the result c

[2019-09-14 15:24] malcommac commented on #249
Sorry I can't support old versions anymore. Switch to the latest major it should work fine.

[2019-09-14 15:24] #249 closed, assigned to nobody

[2019-09-14 15:25] #234 closed, assigned to malcommac

[2019-09-14 15:25] #232 closed, assigned to malcommac

[2019-09-14 15:25] #231 closed, assigned to malcommac

[2019-09-14 15:25] #229 closed, assigned to malcommac

[2019-09-14 15:25] #227 closed, assigned to malcommac

[2019-09-14 15:25] #226 closed, assigned to nobody

[2019-09-14 15:25] #224 closed, assigned to malcommac

[2019-09-14 15:25] #220 closed, assigned to malcommac

[2019-09-14 15:25] #218 closed, assigned to nobody

[2019-09-14 15:25] #200 closed, assigned to nobody

[2019-09-14 15:25] #205 closed, assigned to malcommac

[2019-09-14 15:25] #207 closed, assigned to nobody

[2019-09-14 15:25] #208 closed, assigned to nobody

[2019-09-14 15:26] #211 closed, assigned to nobody

[2019-09-14 15:26] #212 closed, assigned to nobody

[2019-09-14 15:26] #214 closed, assigned to malcommac

[2019-09-14 15:26] #216 closed, assigned to nobody

[2019-09-14 15:32] malcommac commented on #253
It still works even with WiFi because it uses the `CLLocationManager` and the source of data (gps/wifi) is completely transparent to the system.
I suppose you can't get more accuracy than the one you get because WiFi can't access to the same resolution of a GPS capable device.

[2019-09-14 15:53] malcommac commented on #248
Hi,
Since 4.1.0 I've added the `dataFrequency` property inside the `LocationRequest` object. It's an enum:

[code]

By default value for a new `LocationRequest` is `asAvailable` which means "no filters on frequency data`. You can also set it to `fixed` by specifying one or both the constraints (by minimum time and minimum distance, expressed in meters).

This is an example of the code.

[code]

Th

[2019-09-14 16:01] malcommac commented on #247
Fixed in 4.x

[2019-09-14 16:01] #247 closed, assigned to nobody

[2019-09-14 16:01] #242 closed, assigned to nobody

[2019-09-14 16:01] #241 closed, assigned to nobody

[2019-09-14 16:01] malcommac commented on #239
see #248

[2019-09-14 16:01] #239 closed, assigned to nobody

[2019-09-14 16:01] #237 closed, assigned to nobody

[2019-09-14 16:01] #236 closed, assigned to nobody

[2019-09-14 16:02] #235 closed, assigned to nobody

[2019-09-14 16:02] #217 closed, assigned to malcommac

[2019-09-14 16:02] #163 closed, assigned to nobody

[2019-09-14 16:07] malcommac commented on #243
It's available in 4.x branch. thanks

[2019-09-14 16:07] #243 closed, assigned to nobody

[2019-09-14 16:18] #264 closed, assigned to malcommac

[2019-09-14 16:18] #263 closed, assigned to malcommac

[2019-09-14 16:18] #262 closed, assigned to malcommac

[2019-09-14 16:19] #261 closed, assigned to malcommac

[2019-09-14 16:19] #260 closed, assigned to nobody

[2019-09-14 16:19] #253 closed, assigned to malcommac

[2019-09-14 16:19] #252 closed, assigned to malcommac

[2019-09-14 16:19] #248 closed, assigned to malcommac

[2019-09-20 15:27] jeden opened #265 "Relaxing the accuracy level (both for horizontal accuracy and received interval) for room and house"
If I call

[code]

multiple times at different times, and I start location tracking on each handler, only the first receives updates. The 2nd start receiving updates only if the first one is stopped.

For this to happen, I delayed the 2nd call to `locateFromGPS` by 10 seconds (using `DispatchQueue.main.asyncAfter()`)

If I replace `.continous` with `.oneShot` it works fine instead.

Is it supposed

[2019-09-20 17:36] abakhtin opened #267 "OneShot location request is not removed from queue after completing"
Hi.
I believe there should not be ! in comparison block.  Can you confirm?
[code]

[2019-09-26 08:04] arqambutt opened #269 "Remove Blue Bar when app is in background."
App is showing blue bar on **"When in Use Usage Description"**. when i select always mode it does not show. How should is remove this blue bar?

[2019-10-15 13:19] abakhtin commented on #265
Same issue if start continous request and ask for oneShot - OneShot will be waiting for location update based on continous request options

[2019-10-18 15:42] brubom opened #270 "No such module 'SwiftLocation'"
Hey guys,

I'm getting a No such module 'SwiftLocation' after importing the library using cocoa pods (which finishes successfully).

Xcode version: Version 11.1
platform :ios, '13.1'
'SwiftLocation', '~> 4.0'

Thanks

[2019-10-23 14:18] goalguy10 commented on #264
Sorry for the delayed response. The classic `CLLocationManager` works.

[2019-11-02 16:59] coffee-cup opened #271 "SPM: XCode 11 only available in iOS 9 errors"
I am using SwiftLocation in my app via the swift package manager.

<img width="744" alt="image" src="https://user-images.githubusercontent.com/3044853/68074287-59315000-fd91-11e9-99e2-70d305af7580.png">

I have XCode 11/Swift 5 with the deployment target set to 13.2

<img width="832" alt="image" src="https://user-images.githubusercontent.com/3044853/68074317-9e558200-fd91-11e9-9ab3-3ae2062198c0.pn

[2019-11-05 19:05] qizh opened #272 "How can I create AutoCompleteRequest.Options instance if it does not have a public initialiser?"
I'm trying to use `LocationManager.shared.autocomplete` function with `.apple(AutoCompleteRequest.Options?)` as a service. I want to provide a `region` option.
But when I try to create this class, I get the error:

[code]

I assume a workaround would be to create an `AutoCompleteRequest.GoogleOptions` and use it for `.apple` service.

[2019-11-07 06:35] digitxo opened #273 "How to make the blue-pill (location indicator) not visible anymore"
it seems ".showsBackgroundLocationIndicator = false" should hide the blue pill - but it does not. how do I hide the blue pill

[2019-11-08 15:19] phucdanghuu commented on #265
@abakhtin did you resolve this issue?

[2019-11-08 21:01] phongleq commented on #271
He forgot to add a minimum to the package file. I created a PR that should fix this. https://github.com/malcommac/SwiftLocation/pull/274

[2019-11-13 01:05] eminisrafil commented on #265
I'm seeing the same. Any luck?

[2019-11-13 03:31] adamisrafil commented on #265
Getting the same problem

[2019-11-13 08:04] eminisrafil commented on #265
Also, `LocationManager.shared.locateFromGPS(.continous, accuracy: .house, activity: .fitness, timeout: .absolute(30))` can have a pretty long delay under good wifi/cell conditions if only called once

[2019-11-13 08:16] eminisrafil opened #275 "LocationManager.shared.locateFromGPS never return success/failure completion"
Similar to this bug: https://github.com/malcommac/SwiftLocation/issues/265

but when I call
`LocationManager.shared.locateFromGPS(.continous, accuracy: .house, activity: .fitness)`
 I sometimes never get the success failure callback.

Might be an issue in 4.1.0

[2019-11-17 08:46] malcommac commented on #265
I tried to reproduce the issue but it seems to works fine:

[code]

I can receive both `r1` and `r2` requests.
I think the accuracy level `house` and `room` are to strict to be satisfied easily from the GPS receiver in normal conditions.

I've relaxed these parameters to the following levels:

for meters

[code]

and interval:

[code]

Since the next update.

[2019-11-17 08:49] malcommac commented on #265
Let me know if it works for you

[2019-11-17 08:49] malcommac commented on #275
See the #265 i'll close it.

[2019-11-17 08:49] #275 closed, assigned to malcommac

[2019-11-17 08:55] #272 closed, assigned to malcommac

[2019-11-17 08:55] #265 closed, assigned to malcommac

[2019-11-17 08:57] malcommac commented on #271
Merged for 4.2.0
Thank you @phongleq

[2019-11-17 08:57] #271 closed, assigned to malcommac

[2019-11-17 08:59] malcommac commented on #269
It's managed by the system.
After iOS 11 update that blue bar is showing when app is running on the background. What you can do is, track user location when app is in the foreground.
[Check this](https://developer.apple.com/documentation/corelocation/cllocationmanager/2923541-showsbackgroundlocationindicator).

[2019-11-17 09:34] malcommac commented on #267
I've tried to replicate your issue:

[code]

Request is removed successfully `failure(SwiftLocation.LocationManager.ErrorReason.cancelled)`

[2019-11-17 09:35] malcommac commented on #273
According to Apple doc: `When-in-use authorized` apps will continue showing the Blue Bar as before.
No other service will turn on the Blue Bar. When an app which makes use of any other location service receives an occasional update (for example Significant Location Change), the location arrow on the status bar will momentarily blink solid, but the Blue Bar will not appear.​

[2019-11-17 10:37] #267 closed, assigned to malcommac

[2019-12-12 09:23] duy-dindinn opened #276 "Can not get location after app is in background for a while"
Hi guys,

Thanks for making and still maintenance this awesome library. Save tons of time.

I am having an issue that can not figure out why. I am trying to request `oneShot` current location. It works most of the time. But after putting the app in background, or turning off device screen when app is in foreground for a while, it can not get the location anymore.

I try to set the timeout for 5 se

[2019-12-23 23:33] andymedvedev opened #278 "Wrong accuracy checking passing custom(kCLLocationAccuracyBest) level"
If i call `locateFromGPS` with accuracy: `.custom(kCLLocationAccuracyBest)` aka `-1`,
every location event is skipped because `locationSatisfyRequest(_:)` function checking following condition:
[code]

meanwhile i getting location with +\- 65m accuracy

[2019-12-24 09:30] #273 closed, assigned to malcommac

[2019-12-24 09:30] #269 closed, assigned to malcommac

[2020-01-09 07:09] shrikant8787 opened #279 "continuous location monitoring with fixed minimum time interval / min distance"
Hi Team,

I am looking for help/guidance in using the SwiftLocation library.

I  implemented background location tracking. The problem is the location is not updated as per the given minimum interval. The locations that I am getting are inconsistent e.g. If my minimum interval is 120 seconds, then the location event happens randomly, within 2 minutes  I am getting locations with every 15 seconds o

[2020-01-13 13:31] yamila-fraiman opened #280 "Periodically updates questions"
I want to send location to my server every 2hs during 48hs but have many questions:

1. Can I combine significant subscription with dataFrequency?
2. If I call locateFromGPS(.oneshot) after calling with .significant because want to force sending current location when receive a notification, will it override significant listener?
3. What if I call locateFromGPS(.significant) twice when app is open

[2020-01-16 05:40] fluentsoft-2020 opened #281 "Swift location library not giving location as per interval setting"
I am using Swift Location Library 4 and setting the interval as 2 minutes and Continuous.
However, I am not getting the location as per the specified interval.  Instead it is inconsisent
and gives multiple locations within the time interval.
Any help would be appreciated.  A sample implementation code would be of great help.

Thanks,
Badari

[2020-01-23 13:30] wolfAle commented on #162
Hi Daniele :-)

this is something I'm really looking forward to see implemented, if you needed any help on this side please raise your hand, I might be able to find some time to inspect it.

Thanks,
Alessandro

[2020-01-24 17:23] qizh opened #282 "Place match call is causing a crash"
Every place autocompletion call like this

[code]

is causing an app to crash with the following error:

[code]
<img width="399" alt="Снимок экрана 2020-01-25 в 00 19 31" src="https://user-images.githubusercontent.com/941415/73089349-9b89a980-3f08-11ea-900a-0ce35a16dd2a.png">

And that's probably because of the response it is unable to parse:

[code]

A call using `.partialSearch` goes well though

[2020-01-30 09:54] Heki2017 opened #283 "Significant change location implemented"
L.s.,

I love this pod and I am really happy with it. For further building my app, I found, I need 'Significant change location' service from iOS and was wondering if this is already build in or can be build in. This would enable my app to be switched off, but based on location change to start automatically in the background, process the location and exit again.

https://developer.apple.com/librar

[2020-01-30 19:07] samuelail commented on #283
This feature is already mentioned in the docs.  Add this code to your AppDelegate.swift file

func application(_ application: UIApplication, didFinishLaunchingWithOptions launchOptions: [UIApplicationLaunchOptionsKey: Any]?) -> Bool {
  /// If you start monitoring significant location changes and your app is subsequently terminated,
  /// the system automatically relaunches the app into the backgr

[2020-01-30 19:33] Heki2017 commented on #283
Thanks very much, very happy to hear.

[2020-01-30 19:33] #283 closed, assigned to nobody

[2020-02-22 14:21] yadav-anil92 opened #284 "Xcode 11.4 beta2 Support."
I got an error following error while compiling the project in XCode 11.4 beta2.

![Screenshot 2020-02-22 at 7 50 16 PM](https://user-images.githubusercontent.com/45240311/75093965-a9d0f100-55ac-11ea-9341-5a301a977ffd.png)

could you please guide me on. how to resolve it?

[2020-02-25 04:01] samuelail commented on #284
Try changing the build system to Legacy Build system.  File > Workspace settings > Build System

[2020-02-25 04:47] yadav-anil92 commented on #284
@samuelail
ok Thank you

[2020-03-07 13:40] dianamelita commented on #194
I'm getting this issue as well, I tried all the solutions above (and more) but I'm still getting the error:
dyld: Library not loaded: @rpath/RxAtomic.framework/RxAtomic
Reason: no suitable image found.

Did anyone find any solution to this? I'm using cocoapods.

[2020-03-09 00:38] KirlosYousef commented on #276
I was able to fix this problem by adding
`LocationManager.shared.pausesLocationUpdatesAutomatically = false`

Hope this helps!

[2020-03-09 12:00] mehulparmar4ever commented on #270
Hey @brubom

**Please update your pod file like this and install pod again.**

[code]

Happy Coding!!

[2020-03-15 18:52] adamisrafil opened #287 "'GeocoderRequest.OpenStreetOptions' initializer is inaccessible due to 'internal' protection level"
I am trying to use OpenStreets as the service for my call to locateFromCoordinates. I followed the instructions for declaring the options however I am getting the following error:
`'GeocoderRequest.OpenStreetOptions' initializer is inaccessible due to 'internal' protection level`

Here is the code:

[code]

This is what is shown in the example but it doesn't work for me.

![Screen Shot 2020-03-15

[2020-03-17 12:55] mehulparmar4ever commented on #279
Hi,

I am also facing same issue.

I tried many things, but only work below code. Some **accuracy** is not working in my code. I tried possible solution.

@malcommac , You should use default **accuracy** in location manager instead of ([.any, .city, .neighborhood, .block, .house, .room]) I am stuck from last 2 days.

Below solution is working but I want  **accuracy**: neighborhood/block/house. But

[2020-03-18 12:18] mehulparmar4ever opened #288 "Not working : LocationManager.shared.locateFromGPS"
**I tried below method in diff diff way but not working in real device as well as in Simulator.**
_wasted my 2 days to try and find all possible filter and solution in below method_

NOT WORKING ANYMORE :-(

[code]

[2020-04-05 11:36] RichAppz opened #289 "Background Regioning of Beacons not working"
I am currently trying to debug `SwiftLocation` - I have a simple test app setup in my framework and I need to region beacons in the background, I had this working with a quick implementation of `CLLocationManager` but for some reason it's not working with `SwiftLocation`

I have made sure everything is setup and `allowsBackgroundLocationUpdates` is being set to true and it is.

But not getting any

[2020-04-05 11:38] #289 closed, assigned to nobody

[2020-04-15 10:11] artem-krachulov-paysera commented on #279
Same thing
[code]
log
[code]

every second

[2020-04-24 13:53] DevPravin opened #290 "Geofence Region Monitoring"
Hi,

Does SwiftLocation project supports Geofence Region monitoring? OR
How to achieve below functionality using SwiftLocation project?

   let cRegion = CLCircularRegion(center: location.coordinate, radius: 180.0, identifier: "identifer")
   cRegion.notifyOnEntry = true
   cRegion.notifyOnExit = true
   locationManager.startMonitoring(for: cRegion)

Thanks & Regards,
Pravin

[2020-05-22 08:06] kumardiwa opened #292 "How to stop to get GPS location once we request for continous update?"
Is there any way to stop location monitoring after some time when we request for continous GPS location update.
` LocationManager.shared.locateFromGPS(subscription, accuracy: .any) { (location) in
    }`

[2020-05-22 08:22] #292 closed, assigned to nobody

[2020-05-31 11:10] antonioreyna commented on #279
any solution here?

[2020-05-31 15:05] mehulparmar4ever commented on #279
Solution: Use default location functions of CLLocation & You will get location updates on delegate methods.

Only Use this library to fetch address from location.

**Don't use this library to get locations, use library for fetch address from location.**

[2020-06-01 12:35] saparfriday opened #293 "locateFromGPS just stopped working. Please help"
Hello developers. The method .locateFromGPS today just stopped working, before that, 6 months worked without problems.

Example code:
[code]

Translate error:
Failed to complete the operation. (SwiftLocation.LocationManager.ErrorReason, error 2)

[2020-07-06 18:58] rchatham commented on #87
Any progress on this? For MacCatalyst it looks like the only errors occur at lines 752 and 756. I'm looking into it myself but looking at how this issue has been open for 4 years, do you know of anyone using it on MacOS?

[2020-07-20 22:56] rchatham commented on #287
It's as simple as editing the pod and adding public to the initializer. You'll have to tell your project to unlock the Pod for editing though. There should be a more permanent fix though.

[2020-08-18 04:41] eminisrafil commented on #293
Any luck?

[2020-09-16 12:11] vlozhnikov opened #297 "LocationManager.shared.autocomplete crashes"
Hi

Please see my code below

`let options = AutoCompleteRequest.GoogleOptions(APIKey: key)
        LocationManager.shared.autocomplete(partialMatch: .placeDetail("bla blah blah"), service: .google(options)) { result in
            switch result {
            case .failure(let error):
                debugPrint("Request failed: \(error)")
            case .success(let places):
                debu

[2020-09-16 15:54] vaibhav-jhaveri-ds commented on #293
@SapaTech @eminisrafil @malcommac Any updates on this?

[2020-09-16 15:55] vaibhav-jhaveri-ds commented on #288
@mehulparmar4ever @malcommac Any updates on this?

[2020-09-23 16:16] ahmedsafadii opened #298 "dead ?"
is it will be a dead library ?

[2020-09-23 17:22] malcommac commented on #298
Nope, I'm writing a major update these weeks. Hope to get something finished by mid oct

[2020-09-23 17:23] ahmedsafadii commented on #298
good cuz it's the best library for now <3

[2020-09-26 13:16] smahurkar opened #299 "Support for swift package manager"
Would it be possible to support the swift package manager? It'll make the dependency management seamless.

[2020-09-26 13:18] smahurkar commented on #299
Noticed that it already exists!

[2020-09-26 13:18] #299 closed, assigned to nobody

[2020-10-01 10:05] hitesh-shukla opened #300 "How can we get autocomplete partialMatch result as per country"
Hello,

please can you help to get autocomplete suggestions based on country

also can we get coordinates in suggestions

[2020-10-09 21:42] Strobocop commented on #293
@SapaTech what version of iOS? I am experiencing a similar issue that I think may be due to iOS 14's new approximate location setting.

Edit: Just noticed there is a [PR](https://github.com/malcommac/SwiftLocation/pull/295) up related to this. Not sure if it solves my issue yet or not but will report back.

[2020-10-16 22:27] lex-shvets commented on #293
Any update on this [PR](https://github.com/malcommac/SwiftLocation/pull/295)? Would be very nice to merge it!

[2020-10-16 23:13] eminisrafil commented on #298
@malcommac Thank you for your service :)

[2020-11-08 08:08] jkpatel1463 commented on #298
@malcommac I haven't used this lib, but it seems nice one.

[2020-11-11 18:14] malcommac commented on #298
I've just updated the library to 5.0.0; it's a major refactor but it's straightforward to move to the new version.

[2020-11-15 10:40] #298 closed, assigned to nobody

[2020-11-15 10:40] malcommac commented on #290
Yes since 5.0 we support geofencing. take a look at the doc.

[2020-11-15 10:40] #290 closed, assigned to nobody

[2020-11-15 10:41] malcommac commented on #162
Added in 5.0

[2020-11-15 10:41] #162 closed, assigned to malcommac

[2020-11-15 23:37] ay8s commented on #137
Would love this also. Looks like Geofencing, Beacons and Significant Location updates aren't available.

[2020-11-16 12:13] appfrilans opened #303 "'rangedRegions' is only available in Mac Catalyst 14.0 or newer"
There seem to be an issue on Mac Catalyst. I get the following errors compiling for Mac Catalyst:

`'rangedRegions' is only available in Mac Catalyst 14.0 or newer`

and

`startRangingBeacons(in:)' is only available in Mac Catalyst 14.0 or newer`

and

`'stopRangingBeacons(in:)' is only available in Mac Catalyst 14.0 or newer`

There options are only available (and deprecated) in iOS 14. The frame

[2020-11-17 01:04] MoElnaggar14 opened #304 "Added LICENSE file to silent warning of CocoaPods ([!] Unable to read the license file `LICENSE` for the spec `SwiftLocation (5.0.0)`)"

[2020-11-17 16:32] LoopingLouieX opened #306 "Fixed `gpsLocationWith()` init with builder which does not work correctly (cannot configure get continuous GPS values)"
Hi,

I've looked through your demo app in version 5.0 and tried out my use case and it seems working.
But after I implement the suggested demo code from the documentation to receive continous gps data, it just does so after the first time.

I've added the following code to my viewDidLoad:
[code]

Am I missing something? Maybe do I have to add something to AppDelegate?
How do I get continous update

[2020-11-19 11:43] AravindBG commented on #293
Location is not getting from **locateFromGPS** method in iOS 14.
SwiftLocation version 4.2.0
Any update on this?

[2020-11-19 19:52] malcommac commented on #306
Did your request removed after the first result? Sorry I didn’t understand.

[2020-11-19 20:07] Lallering opened #307 "GPS continous values"
I try to subscribe to GPS updates as it comes in the demo and after initializing it gets canceled

![image](https://user-images.githubusercontent.com/33471019/99718345-570b6380-2a70-11eb-9c68-9213b2017f0f.png)

i get this on console:

![image](https://user-images.githubusercontent.com/33471019/99718424-730f0500-2a70-11eb-8c55-097e17bd6a25.png)

I don't know what eviction policy is

[2020-11-20 08:34] hamzaozturk commented on #306
@malcommac

https://github.com/malcommac/SwiftLocation/blob/9f9a81b084afac692e26b213bca5715271bf6f25/Sources/SwiftLocation/SwiftLocation.swift#L225

When you first initialize Location request without options, the subscription option is set as single. Therefore, it sets evictionPolicy for continuous subscription, too.

https://github.com/malcommac/SwiftLocation/blob/9f9a81b084afac692e26b213bca57152

[2020-11-20 13:04] LoopingLouieX commented on #306
Did the following now and it seems to be working, but don't know if that's the correct way:
**MainController.swift**

[code]

**AppDelegate:**

[code]

Hope I didn't forgot something in the code, but with this code I'll get continous updates + Local Push Notifications with an GPX file.

[2020-11-21 14:32] hamzaozturk commented on #307
Currently, configuring service options using block is buggy. You can use the code below.

First, define your service options in a separate variable.
[code]

Then, initialize your request like below:

[code]

[2020-11-23 16:22] Lallering opened #308 "Stop GPS Continous values"
I am having a problem and it is that once I start a continuous gps subscription I cannot stop it since the subscription UUID that returns me is different from the one that started, i save the request UUID in the gpsRequest variable and use it later to cancel the created request
![image](https://user-images.githubusercontent.com/33471019/99986114-6a6e4580-2d74-11eb-8e54-b70654d326e6.png)
This is wh

[2020-11-26 06:31] AgungLaksana commented on #292
@kumardiwa I have this issue also, so how to stop this update ?

[2020-11-28 08:16] malcommac commented on #306
thank you for your report, I've just fixed it by changing how the builder is created and passed:

[code]

[2020-11-28 08:23] malcommac opened #311 "Added support for Swift Package Manager dynamic library"
We should add `.dynamic` options for SwiftLocation in Swift Package Manager.

[2020-11-28 08:25] malcommac commented on #304
Added in 5.0.1

[2020-11-28 08:26] malcommac commented on #303
Thank you, I've just merged your PR

[2020-11-28 08:26] #303 closed, assigned to malcommac

[2020-11-28 08:37] malcommac commented on #308
Hi,
There is something wrong; are you sure your `gpsRequest` is a `GPSLocationRequest` object?
Because this logging message happens when the library cannot cast passed object to a known object; take a [look here](https://github.com/malcommac/SwiftLocation/blob/9f9a81b084afac692e26b213bca5715271bf6f25/Sources/SwiftLocation/SwiftLocation.swift#L347):

[code]

Can you get the type of the object?

[2020-11-28 08:39] malcommac opened #312 "Add support for precise and reduced gps accuracy option introduced in iOS 14"
iOS 14 introduces the option for users to authorize a precise location when giving location permissions. If the user has chosen non-precise location and we need it, such as for navigating, we can ask for one time permission. This PR adds a parameter to locateFromGPS() to indicate whether .fullAccuracy is needed for a task (default is set to .reducedAccuracy). If user has not given precise location

[2020-11-28 09:22] malcommac opened #313 "Expose allowsBackgroundLocationUpdates and pausesLocationUpdatesAutomatically property to SwiftLocation"
We should expose:

- `pausesLocationUpdatesAutomatically`: Indicate whether the app should receive location updates when suspended.
- `allowsBackgroundLocationUpdates`: Indicate whether the app should receive location updates when suspended.

[2020-11-28 09:42] malcommac opened #314 "Add opportunity to discard and not automatic save GPS/Geofence/Visits requests between app sessions."
Using `SwiftLocation.automaticRequestSave = false` you can disable automatic save of the requests which persist between app sessions and can be restored using `onRestore*` callbacks.

By default this value is set to `true` to maintain backwards compatibility.

[2020-11-28 10:19] #297 closed, assigned to nobody

[2020-11-28 10:20] #293 closed, assigned to nobody

[2020-11-28 10:20] #288 closed, assigned to nobody

[2020-11-28 10:20] #287 closed, assigned to nobody

[2020-11-28 10:20] #284 closed, assigned to nobody

[2020-11-28 10:20] #282 closed, assigned to nobody

[2020-11-28 10:20] #281 closed, assigned to malcommac

[2020-11-28 10:20] #280 closed, assigned to nobody

[2020-11-28 10:20] #279 closed, assigned to nobody

[2020-11-28 10:20] #278 closed, assigned to malcommac

[2020-11-28 10:20] #276 closed, assigned to nobody

[2020-11-28 10:20] #270 closed, assigned to nobody

[2020-11-28 10:20] #300 closed, assigned to nobody

[2020-11-28 10:44] malcommac commented on #307
Fixed in 5.0.1 THanks.

[2020-11-28 10:44] #307 closed, assigned to nobody

[2020-11-28 10:52] #306 closed, assigned to malcommac

[2020-11-28 10:58] #304 closed, assigned to malcommac

[2020-11-28 10:58] #311 closed, assigned to malcommac

[2020-11-28 10:58] #312 closed, assigned to malcommac

[2020-11-28 10:58] #313 closed, assigned to malcommac

[2020-11-28 10:58] #314 closed, assigned to malcommac

[2020-11-29 08:17] malcommac commented on #87
we had fixed MacCatalyst errors and it should now compile

[2020-11-30 17:13] LoopingLouieX opened #315 "Geocoder returns Null sometimes"
Hi,

a short explanation from my original use case:
I've a small app with a table view where I fetch some countries from different coordinates.
From time to time the coordinates (where I fetch the countries) are changing and so the user is refreshing the view.
But instead of returning the new country results, it's returning nil.

As I was not sure about the code, I wrote a very small test program

[2020-11-30 18:43] LoopingLouieX commented on #315
**Solved:**
According to Apple you should not send more than one geocoding request per minute!
That's frustrating but okay..

_When you want to update the user’s current location automatically (such as when the user is moving), issue new geocoding requests only when the user has moved a significant distance and after a reasonable amount of time has passed. For example, in a typical situation, you

[2020-11-30 18:43] #315 closed, assigned to nobody

[2020-12-06 09:10] #308 closed, assigned to malcommac

[2020-12-06 09:11] malcommac commented on #308
i'll close it due to inactivity

[2020-12-16 14:48] jerometonnelier opened #317 "minTimeInterval does not seem to work"
Hi all ;-)

First of all, awesome library ;-)

I have I think what can be an issue : the minTimeInterval does not seem to work.
I use an external option value since the builder does not currently work

[code]

I get a location every 10 meters or so.
Defaults[\.locationUpdateRefreshRate] is set to 15. If I remove the minDistance option, I get a location every seconds or so, not every 15 seconds as

[2020-12-23 08:37] hamzaozturk opened #318 "minDistance/minInterval filtering does not work (lastLocation property has never been set on first pass inside GPSRequest)"
[code]

property has never been set, so minDistance and minTimeInterval checks do not work.

[code]

[2020-12-23 08:39] hamzaozturk commented on #317
Related to the issue #318

[2020-12-23 08:47] hamzaozturk opened #319 "Wrong timeoutInterval description in Demo Project for GPSRequest"
https://github.com/malcommac/SwiftLocation/blob/bcbf8d157c6adcd4c9f589f5ba7cf527b94c782a/SwiftLocationPlayground/SwiftLocationPlayground/View%20Controllers/Features/Location%20by%20GPS/GPSController.swift#L97

it has been set with wrong value on ui.

[2020-12-24 09:44] malcommac commented on #318
Thank you for your analysis. Yes in fact `lastLocation` has never been set on first valid location therefore filtering never worked. I fixed it for 5.0.3.

[2020-12-24 09:44] malcommac commented on #317
I'll close it because it's the same problem of #318 as you said.

[2020-12-24 09:44] #317 closed, assigned to malcommac

[2020-12-24 10:02] malcommac commented on #319
Just fixed in 5.0.3

[2020-12-24 10:04] #318 closed, assigned to malcommac

[2020-12-24 10:04] #319 closed, assigned to malcommac

[2020-12-29 07:23] RuYiChenIT opened #321 "在持续定位过程中，如何获取用户当前最新的位置信息"

[2021-01-04 12:52] LoopingLouieX opened #322 "How to get [GeoLocation] values."

[2021-01-04 13:00] LoopingLouieX opened #323 "How to get [GeoLocation] values."
Sorry but I don't understand how to get specific values out of [GeoLocation] with Geocode (Google).
The first thing I don't understand is why there is soo much information in the result with just one coordinate:
I've the following code:
[code]
If I print `result.data` I get the following:

Optional([{
	coordinates = lat:37.3318641,lng:-122.0302537,
	name=Optional("1 Infinite Loop, Cupertino, CA 95

[2021-01-04 13:01] #322 closed, assigned to nobody

[2021-01-04 16:04] jerometonnelier opened #324 "GeoFencing not triggered"
Hi,

it seems that the geofencing does not work.

I was able to track the issue up to

[code]

Since the settings does not change, the completion block is never called and the completion blocked is where the requests are executed :

SwiftLocation: Line 522
[code]

Am I doing something wrong or is it a bug ?
Thanks

[2021-01-05 08:31] jerometonnelier commented on #324
I created a PR in case you want to fix it. The fix works
[#325](https://github.com/malcommac/SwiftLocation/pull/325)

[2021-01-07 09:06] jerometonnelier opened #326 "Cancel request does not work for continuous updates"
Hi ;-)

I create a GPS Request with a pretty straightforward code

```locationRequest = SwiftLocation.gpsLocationWith(serviceOptions)```

How ever, when I want to stop getting the location, I call

[code]

I do get the log message

```- Remove request: 69CC91CB-821F-4CBC-A512-903CCC9F0E99```

but I keep getting my logs that are triggered inside then .then{} block

Am I doing something wrong or is

[2021-01-07 11:29] BackWorld opened #327 "Location always `Timeout` after first use"
"Zero Length edge on polygon boundary"
"- Remove request: F117C7A3-1B67-4918-B087-5A9BF9C76893"

[2021-01-07 11:41] BackWorld opened #328 "iPad iOS14.0+ Crashed!!!"

[2021-01-09 04:18] perryhoekstra opened #329 "Compile Error in MS App"
After I added SwiftLocation, I am seeing the following in my builds through MS App Center:

/Users/runner/work/1/s/express/Pods/SwiftLocation/Sources/SwiftLocation/Extensions/CLLocationManager+Extension.swift:116:19: error: static member 'authorizationStatus' cannot be used on instance of type 'CLLocationManager'
            guard authorizationStatus == .notDetermined else {
                  ^~~~

[2021-01-09 04:43] perryhoekstra commented on #329
Nevermind, just need to be up on the latest XCode version 12.3 in MS App Center.

[2021-01-09 04:43] #329 closed, assigned to nobody

[2021-01-09 17:40] azlekov commented on #110
@malcommac you can open again this issue because with version 5+ I have to also add the Bluetooth descriptions into the `Info.plist`.

[2021-01-13 12:35] perryhoekstra opened #330 "Error Processing"
In the case of:

SwiftLocation.gpsLocation(accuracy: .neighborhood).then { result in
    switch result {
       case .success(let locationData):
         do some successfull processing
       case .failure( _):
         do some failure processing
    }
}

How do you handle error processing where the result callback is not returned (such as the user stating Don't Allow)?  I did not see that identif

[2021-01-13 12:35] perryhoekstra opened #331 "Error Processing"
In the case of:

[code]

How do you handle error processing where the result callback is not returned (such as the user stating Don't Allow)?  I did not see that identified in the documentation.

[2021-01-14 10:19] LoopingLouieX commented on #323
Any update?

[2021-01-15 11:04] syedrazackimran commented on #110
@malcommac I gotta rejection from apple.

kindly lemme know, why I need this permission, I not going to use Bluetooth in my app.